.mat-column-id {
  width: 15%;
}

.mat-column-client {
    width: 20%;
}

.mat-column-event {
    width: 20%;
}

.mat-column-type {
    width: 15%;
}

.mat-column-attendance {
    width: 20%;
}

.mat-column-action {
    width: 10%;
}
