<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <mat-input-container class="bar">
          <input #search matInput formControlName="search" placeholder="Qual evento você procura?" autocomplete="off">
        </mat-input-container>
        <div class="buttons">
          <a mat-button (click)="search.focus()">
            <mat-icon>search</mat-icon>
          </a>
          <a mat-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
          <a [routerLink]="['/briefings/new']" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <div *ngIf="briefings?.length > 0">
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-id">ID</div>
            <div class="mat-header-cell mat-column-client">Cliente</div>
            <div class="mat-header-cell mat-column-event">Evento</div>
            <div class="mat-header-cell mat-column-type">Tipo</div>
            <div class="mat-header-cell mat-column-attendance">Atendimento</div>
            <div class="mat-header-cell mat-column-action">Ação</div>
          </div>
          <div class="mat-row" *ngFor="let briefing of briefings" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-id">
              {{ briefingService.showId(briefing) }}
            </div>
            <div class="mat-cell mat-column-client">
              {{ briefing.exhibitor.fantasy_name }}
            </div>
            <div class="mat-cell mat-column-event">
              {{ briefing.event }}
            </div>
            <div class="mat-cell mat-column-type">
              {{ briefing.job_type.description }}
            </div>
            <div class="mat-cell mat-column-attendance">
              {{ briefing.attendance.name }}
            </div>
            <div class="mat-cell mat-column-action">
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/briefings/show', briefing.id]" mat-menu-item>
                  <mat-icon>subject</mat-icon> Visualização
                </a>
                <a [routerLink]="['/briefings/edit', briefing.id]" mat-menu-item>
                  <mat-icon>mode_edit</mat-icon> Editar
                </a>
                <button (click)="delete(briefing)" mat-menu-item>
                  <mat-icon>delete</mat-icon> Remover
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
        </table>
      </div>
      <div *ngIf="searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Aguarde...
          </small>
        </p>
      </div>
      <div *ngIf="briefings.length == 0 && searchForm.controls.search.value != '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Não encontramos resultados para sua busca. :(
          </small>
        </p>
      </div>
      <div *ngIf="briefings.length == 0 && searchForm.controls.search.value == '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Ainda não existe nenhum briefing cadastrado. Que tal <a [routerLink]="['/briefings/new']">cadastrar</a> agora?
          </small>
        </p>
      </div>
    </mat-card>
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Relatório
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <table class="table mat-table report">
        <div class="mat-header-row">
          <div class="mat-header-cell col-md-2 text-center">Total</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell col-md-2 text-center">{{ pagination?.total }}</div>
        </div>
      </table>
    </mat-card>
    <mat-paginator *ngIf="briefings"
      [length]="pagination?.total"
      [pageSize]="pagination?.per_page"
      [pageSizeOptions]="[50]"
      (page)="changePage($event)"
    ></mat-paginator>
  </form>
</div>
