<form [formGroup]="form" class="tc-planner-form"
    [class.diretoria]="isDiretoria">
    <!-- <div *ngIf="isDiretoria" class="tc-planner-form-employee">
        {{ log.employee_name || '' }}
    </div> -->

    <div class="tc-planner-form-category">
        <span class="position-relative cursor-pointer" tabindex="0"
            [title]="form.controls.category.value || (isDiretoria ? '' : 'Categoria')"
            (keyup.enter)="isDiretoria ? null : categorySelect.open()"
            (click)="isDiretoria ? null : categorySelect.open()">
            <span [class.placeholder]="!form.controls.category.value">
                {{ form.controls.category.value || (isDiretoria ? '' : 'Categoria') }}
            </span>

            <mat-select class="select-hidden" #categorySelect
                [formControl]="form.controls.category"
                [(ngModel)]="log.category">
                <mat-option *ngFor="let category of categories"
                    [value]="category.name"
                    [title]="category.name">
                    {{ category.name }}
                </mat-option>
            </mat-select>
        </span>
    </div>

    <div class="tc-planner-form-subcategory">
        <span class="position-relative cursor-pointer" tabindex="0"
            [title]="form.controls.subcategory.value || (isDiretoria ? '' : 'Subcategoria')"
            (keyup.enter)="isDiretoria ? null : subcategorySelect.open()"
            (click)="loadSubcategoriesByCategoryAndOpen(form.controls.category.value, subcategorySelect)">
            <span [class.placeholder]="!form.controls.subcategory.value">
                {{ form.controls.subcategory.value || (isDiretoria ? '' : 'Subcategoria') }}
            </span>

            <mat-select class="select-hidden" #subcategorySelect
                [formControl]="form.controls.subcategory"
                [(ngModel)]="log.subcategory">
                <mat-option *ngFor="let subcategory of subcategories"
                    [value]="subcategory"
                    [title]="subcategory">
                    {{ subcategory }}
                </mat-option>
            </mat-select>
        </span>
    </div>

    <div class="tc-planner-form-modality">
        <span class="position-relative cursor-pointer" tabindex="0"
            [title]="modality || (isDiretoria ? '' : 'Local')"
            (keyup.enter)="isDiretoria ? null : modalitySelect.open()"
            (click)="isDiretoria ? null : modalitySelect.open()">
            <span [class.placeholder]="!modality">
                {{ modality || (isDiretoria ? '' : 'Local') }}
            </span>

            <mat-select class="select-hidden" #modalitySelect
                [formControl]="form.controls.modality_id"
                [(ngModel)]="log.modality_id">
                <mat-option *ngFor="let modality of places"
                    [value]="modality.id"
                    [title]="modality.description">
                    {{ modality.description }}
                </mat-option>
            </mat-select>
        </span>
    </div>

    <div class="tc-planner-form-description">
        <textarea [placeholder]="isDiretoria ? '' : 'Informe as atividades realizadas...'" rows="1"
            [readOnly]="isDiretoria"
            [formControl]="form.controls.description"
            [(ngModel)]="log.description"
        ></textarea>
    </div>
</form>