<tr class="columns-tr">
  <th scope="col">NUM</th>
  <th scope="col">CATEGORIA</th>
  <th scope="col">FAVORECIDO</th>
  <th scope="col">DESCRIÇÃO</th>
  <th scope="col">QTD</th>
  <th scope="col">UNID</th>

  <th scope="col">PREVISTO</th>
  <th scope="col"></th>
  <th scope="col">REALIZADO</th>

  <th scope="col">NEGOCIAÇÃO</th>
  <th scope="col">SOLICITANTE</th>
  <th scope="col">APROVAÇÃO</th>
  <th scope="col">ACEITE</th>

  <th scope="col">NF</th>
  <th scope="col">COND</th>
  <th scope="col">VENCIM</th>
  <th scope="col">PGTO</th>
</tr>