<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <md-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <md-input-container class="bar">
          <input #search mdInput formControlName="search" placeholder="Qual item você procura?" autocomplete="off">
        </md-input-container>
        <div class="buttons">  
          <a md-button (click)="search.focus()">
            <md-icon>search</md-icon>
          </a>
          <a md-button>
            <md-icon>keyboard_arrow_down</md-icon>
          </a>
          <a [routerLink]="['/items/new']" md-button>
            <md-icon>add</md-icon>
          </a>
        </div>
      </div>
    </md-card-title>
    <md-card>
      <div *ngIf="items?.length > 0">
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-name">Nome</div>
            <div class="mat-header-cell mat-column-item-category">Categoria de item</div>
            <div class="mat-header-cell mat-column-cost-category">Categoria de custo</div>
            <div class="mat-header-cell mat-column-action">Ação</div>
          </div>
          <div class="mat-row" *ngFor="let item of items" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-name">
              {{ item.name }}
            </div>
            <div class="mat-cell mat-column-item-category">
              {{ item.item_category?.description }}
            </div>
            <div class="mat-cell mat-column-cost-category">
              {{ item.cost_category?.description }}
            </div>
            <div class="mat-cell mat-column-action">
              <md-menu #menu="mdMenu">
                <a [routerLink]="['/items/show', item.id]" md-menu-item>
                  <md-icon>subject</md-icon> Detalhes
                </a>
                <a [routerLink]="['/items/edit', item.id]" md-menu-item>
                  <md-icon>mode_edit</md-icon> Editar
                </a>
                <button (click)="delete(item)" md-menu-item>
                  <md-icon>delete</md-icon> Remover
                </button>
              </md-menu>

              <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>menu</md-icon>
              </button>
            </div>
          </div>
        </table>
      </div>
      <div *ngIf="searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Aguarde...
          </small>
        </p>
      </div>
      <div *ngIf="items.length == 0 && searchForm.controls.search.value != '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Não encontramos resultados para sua busca. :(
          </small>
        </p>
      </div>
      <div *ngIf="items.length == 0 && searchForm.controls.search.value == '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Ainda não existe nenhum item cadastrado. Que tal <a [routerLink]="['/items/new']">cadastrar</a> agora?
          </small>
        </p>
      </div>
    </md-card>
    <md-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Relatório
        </div>
      </div>
    </md-card-title>
    <md-card>
      <table class="table mat-table report">
        <div class="mat-header-row">
          <div class="mat-header-cell col-md-2 text-center">Total</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell col-md-2 text-center">{{ total(items) }}</div>
        </div>
      </table>
    </md-card>
  </form>
</div>