.mat-column-description {
    width: 20%;
}

.mat-column-edition {
    width: 10%;
}

.mat-column-place {
    width: 30%;
}

.mat-column-date {
    width: 30%;
}

.mat-column-action {
    width: 10%;
}

.updated-info-employee {
  font-size: 12px;
}

.filter-grid .row .col-md-12 {
  display: flex;
  flex-wrap: wrap;
}
