<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Contatos:</h6>
            
                <div class="check-in-header-right">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">

            <div class="check-in-grid-left clients">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CLIENTE
                    </div>

                    <div class="check-in-cell">
                        Razão social Ltda
                    </div>
                </div>

                <div class="client">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO PRINCIPAL
                        </div>
                        
                        <div class="check-in-cell">
                            João da Silva Moreira
                        </div>
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            Diretor de Produção
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            joaosilva@gmail.com.br
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            11 99635-5673
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FIXO
                        </div>

                        <div class="check-in-cell">
                            11 99635-5673
                        </div>
                    </div>
                </div>

                <button class="btn-add-contacts" mat-button>
                    <span>
                        CONTATO 2
                    </span>

                    <mat-icon>add</mat-icon>
                </button>

            </div>

            <div class="check-in-grid-right clients">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        AGÊNCIA
                    </div>

                    <div class="check-in-cell">
                        Razão social Ltda
                    </div>
                </div>

                <div class="client">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO PRINCIPAL
                        </div>
                        
                        <div class="check-in-cell">
                            João da Silva Moreira
                        </div>
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            Diretor de Produção
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            joaosilva@gmail.com.br
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            11 99635-5673
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FIXO
                        </div>

                        <div class="check-in-cell">
                            11 99635-5673
                        </div>
                    </div>
                </div>

                <button class="btn-add-contacts" mat-button>
                    <span>
                        CONTATO 2
                    </span>

                    <mat-icon>add</mat-icon>
                </button>

            </div>

        </div>
        
        <cb-check-in-obs></cb-check-in-obs>

    </mat-expansion-panel>

</mat-accordion>