<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Contatos:</h6>
            
                <div class="check-in-header-right">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid-full">
            <div class="check-in-row">
                <div class="check-in-cell">
                    E-MAIL DO DESTINATÁRIO:
                    
                    <input type="email"
                        [(ngModel)]="checkInModel.client_email"
                    />
                </div>
            </div>
        </div>
        
        <div class="check-in-grid">
            <div class="check-in-grid-left clients">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CLIENTE
                    </div>

                    <div class="check-in-cell">
                        <input type="text" 
                            [(ngModel)]="client.name"
                        />
                    </div>
                </div>

                <div class="client">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO PRINCIPAL
                        </div>
                        
                        <div class="check-in-cell">
                            <input type="text" 
                                [(ngModel)]="client.fantasy_name"
                            />
                        </div>
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text" 
                                [(ngModel)]="clientContact.department"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            <input type="email" 
                                [(ngModel)]="clientContact.email"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="clientContact.cellphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FIXO
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="client.mainphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            OBSERVAÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="clientContact.obs"
                            />
                        </div>
                    </div>
                </div>

                <div class="client" *ngFor="let client of clientContacts">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO
                        </div>

                        <!-- [class.invalid]="!client.name" -->
                        <input type="text" 
                            [(ngModel)]="client.name"
                        />
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            <!-- [class.invalid]="!client.department" -->
                            <input type="text" 
                                [(ngModel)]="client.department"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            <!-- [class.invalid]="!client.email" -->
                            <input type="email" 
                                [(ngModel)]="client.email"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="client.cellphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            OBSERVAÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="client.obs"
                            />
                        </div>
                    </div>
                </div>

                <button class="btn-add-contacts" mat-button (click)="addClient()">
                    <span>
                        CONTATO {{ clientContacts.length + 2 }}
                    </span>

                    <mat-icon>add</mat-icon>
                </button>

            </div>

            <div class="check-in-grid-right clients">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        AGÊNCIA
                    </div>

                    <div class="check-in-cell">
                        <input type="text" 
                            [(ngModel)]="agency.name"
                        />
                    </div>
                </div>

                <div class="client">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO PRINCIPAL
                        </div>
                        
                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="agency.fantasy_name"
                            />
                        </div>
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="agencyContact.department"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            <input type="email" 
                                [(ngModel)]="agencyContact.email"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="agencyContact.cellphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FIXO
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="agency.mainphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            OBSERVAÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="agencyContact.obs"
                            />
                        </div>
                    </div>
                </div>

                <div class="client" *ngFor="let agency of agencyContacts">
                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CONTATO
                        </div>

                        <input type="text" 
                            [(ngModel)]="agency.name"
                        />
                        
                        <div class="check-in-cell"></div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            FUNÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text" 
                                [(ngModel)]="agency.department"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            E-MAIL
                        </div>

                        <div class="check-in-cell">
                            <input type="email" 
                                [(ngModel)]="agency.email"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            CELULAR
                        </div>

                        <div class="check-in-cell">
                            <input type="text" mask="(99) 9999-9999?9"
                                [(ngModel)]="agency.cellphone"
                            />
                        </div>
                    </div>

                    <div class="check-in-row">
                        <div class="check-in-cell">
                            OBSERVAÇÃO
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="agency.obs"
                            />
                        </div>
                    </div>
                </div>

                <button class="btn-add-contacts" mat-button (click)="addAgency()">
                    <span>
                        CONTATO {{ agencyContacts.length + 2 }}
                    </span>

                    <mat-icon>add</mat-icon>
                </button>

            </div>

        </div>
        
        <cb-check-in-obs [(ngModel)]="checkInModel.contact_obs" name="contact_obs" id="contact_obs"></cb-check-in-obs>

    </mat-expansion-panel>

</mat-accordion>