.mat-header-row {
  justify-content: center;
}

.mat-row {
  justify-content: center;
}

.mat-column-num {
  width: 4%;
  font-size: 12px;
}

.mat-column-service {
  width: 6%;
  font-size: 12px;
}

.mat-column-budget {
  width: 6%;
  font-size: 12px;
}

.mat-column-creation {
  width: 7%;
  font-size: 12px;
}

.mat-column-production {
  width: 5%;
  font-size: 12px;
}

.mat-column-date {
  width: 7%;
  font-size: 12px;
}

.mat-column-id {
  width: 5%;
  font-size: 12px;
}

.mat-column-client {
  width: 7%;
  font-size: 12px;
}

.mat-column-event {
  width:10%;
  font-size: 12px;
}

.mat-column-type {
  width: 7%;
  font-size: 12px;
}

.mat-column-value {
  width: 8%;
  font-size: 12px;
}

.mat-column-status {
  width: 7%;
  font-size: 12px;
}

.mat-column-fatured {
  width: 5%;
  font-size: 12px;
}

.mat-column-portin {
  width: 5%;
  font-size: 12px;
}

.mat-column-rate {
  width: 9%;
  font-size: 12px;
}

::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}

::ng-deep .langSelect.mat-select .mat-select-trigger > * {
  display: none;
}

::ng-deep .langSelect.mat-select .mat-select-trigger {
  height: 0;
  margin-top: 0;
}

.mat-cell,
.mat-header-cell {
  text-align: center;
}

.mat-cell-report {
  text-align: start;
  font-size: 20px;
  color: gray;

}

.mat-header-cell-report {
  text-align: start;
  margin-top: 14px;
}

.updated-info-employee {
  font-size: 12px;
}


::ng-deep .mat-grid-item > figure {
  padding: 1rem !important;
  flex-direction: column;
  align-items: start !important;
}

.mat-grid-type {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-w-2 {
  min-width: 2rem;
}

.title-report-dashboard {
  font-size: 13px !important;
  color: #212529;
  width: 100%;
}

.data-report-dashboard {
  font-size: 18px !important;
  color: rgb(158, 158, 158);
  width: 100% !important;
}

.select-hidden {
  visibility: hidden;
  /* min-height: 0; */
  /* height: 0; */
  /* min-width: 0; */
  font-size: 14px;
  width: 0;
  /* flex: 0; */
  /* display: block; */
  margin: -17px;
}

.actualMonth, .actualYear {
  cursor: pointer;
  display: inline-flex;
}

.actualYear {
  margin-left: 10px;
  margin-right: 10px;
}

.actualYearSecondary {
  margin-left: 10px;
}

.mat-cell {
  padding: 3px 10px;
}

.see-last {
  width: 6.8rem;
  margin-left: 1rem;
}
