<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <md-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <md-input-container class="bar">
          <input #search mdInput formControlName="search" placeholder="Qual cliente você procura?" autocomplete="off">
        </md-input-container>
        <div class="buttons">  
          <a md-button (click)="search.focus()">
            <md-icon>search</md-icon>
          </a>
          <a md-button>
            <md-icon>keyboard_arrow_down</md-icon>
          </a>
          <a [routerLink]="['/clients/new']" md-button>
            <md-icon>add</md-icon>
          </a>
        </div>
      </div>
    </md-card-title>
    <md-card>
      <div *ngIf="clients?.length > 0">
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-name">Nome</div>
            <div class="mat-header-cell mat-column-type">Tipo</div>
            <div class="mat-header-cell mat-column-status">Status</div>
            <div class="mat-header-cell mat-column-employee">Atendimento</div>
            <div class="mat-header-cell mat-column-rate">Score</div>
            <div class="mat-header-cell mat-column-action">Ação</div>
          </div>
          <div class="mat-row" *ngFor="let client of clients" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-name">
              {{ client.fantasy_name }}
            </div>
            <div class="mat-cell mat-column-type">
              {{ client.type.description }}
            </div>
            <div class="mat-cell mat-column-status">
              {{ client.status.description }}
            </div>
            <div class="mat-cell mat-column-employee">
              {{ client.employee.name }}
            </div>
            <div class="mat-cell mat-column-rate">
                <cb-stars [readonly]="true" [rate]="client.rate"></cb-stars>
            </div>
            <div class="mat-cell mat-column-action">
              <md-menu #menu="mdMenu">
                <a [routerLink]="['/clients/show', client.id]" md-menu-item>
                  <md-icon>subject</md-icon> Detalhes
                </a>
                <a [routerLink]="['/clients/edit', client.id]" md-menu-item>
                  <md-icon>mode_edit</md-icon> Editar
                </a>
                <button (click)="delete(client)" md-menu-item>
                  <md-icon>delete</md-icon> Remover
                </button>
              </md-menu>

              <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>menu</md-icon>
              </button>
            </div>
          </div>
        </table>
      </div>
      <div *ngIf="searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Aguarde...
          </small>
        </p>
      </div>
      <div *ngIf="clients.length == 0 && searchForm.controls.search.value != '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Não encontramos resultados para sua busca. :(
          </small>
        </p>
      </div>
      <div *ngIf="clients.length == 0 && searchForm.controls.search.value == '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Ainda não existe nenhum cliente cadastrado. Que tal <a [routerLink]="['/clients/new']">cadastrar</a> agora?
          </small>
        </p>
      </div>
    </md-card>
    <md-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Relatório
        </div>
      </div>
    </md-card-title>
    <md-card>
      <table class="table mat-table report">
        <div class="mat-header-row">
          <div class="mat-header-cell col-md-2 text-center">Total</div>
          <div class="mat-header-cell col-md-2 text-right">Inativo/Ativo</div>
          <div class="mat-header-cell col-md-3 text-right">Agência/Expositor/Autônomo</div>
          <div class="mat-header-cell col-md-2 text-right">Score +3/-3</div>
          <div class="mat-header-cell col-md-3 text-right">Última atualização</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell col-md-2 text-center">{{ total(clients) }}</div>
          <div class="mat-cell col-md-2 text-right">{{ statusInactive(clients) }}/{{ statusActive(clients) }}</div>
          <div class="mat-cell col-md-3 text-right">{{ typeAgencia(clients) }}/{{ typeExpositor(clients) }}/{{ typeAutonomo(clients) }}</div>
          <div class="mat-cell col-md-2 text-right">{{ score3Plus(clients) }}/{{ score3Minus(clients) }}</div>
          <div class="mat-cell col-md-3 text-right">{{ lastUpdate(clients)?.updated_at | date: 'dd/MM/yyyy' }}</div>
        </div>
      </table>
    </md-card>
  </form>
</div>

<div class="col-md-12 button-section">
  <a class="cb-button" [routerLink]="['/clients/import']" md-raised-button>
    Importar
  </a>
</div>