<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <mat-form-field class="bar">
          <input #search matInput formControlName="search" placeholder="Qual categoria de item você procura?" autocomplete="off">
        </mat-form-field>
        <div class="buttons">
          <a mat-button (click)="search.focus()">
            <mat-icon>search</mat-icon>
          </a>
          <a mat-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
          <a [routerLink]="['/item-categories/new']" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <div *ngIf="itemCategories?.length > 0">
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-id">ID</div>
            <div class="mat-header-cell mat-column-description">Descrição</div>
            <div class="mat-header-cell mat-column-item-category">Categoria de item</div>
            <div class="mat-header-cell mat-column-action">Ação</div>
          </div>
          <div class="mat-row" *ngFor="let itemCategory of itemCategories" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-id">
              {{ itemCategory.id }}
            </div>
            <div class="mat-cell mat-column-description">
              {{ itemCategory.description }}
            </div>
            <div class="mat-cell mat-column-item-category">
              {{ itemCategory.item_category?.description }}
            </div>
            <div class="mat-cell mat-column-action">
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/item-categories/show', itemCategory.id]" mat-menu-item>
                  <mat-icon>subject</mat-icon> Detalhes
                </a>
                <a [routerLink]="['/item-categories/edit', itemCategory.id]" mat-menu-item>
                  <mat-icon>mode_edit</mat-icon> Editar
                </a>
                <button (click)="delete(itemCategory)" mat-menu-item>
                  <mat-icon>delete</mat-icon> Remover
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
        </table>
      </div>
      <div *ngIf="searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Aguarde...
          </small>
        </p>
      </div>
      <div *ngIf="itemCategories.length == 0 && searchForm.controls.search.value != '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Não encontramos resultados para sua busca. :(
          </small>
        </p>
      </div>
      <div *ngIf="itemCategories.length == 0 && searchForm.controls.search.value == '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Ainda não existe nenhum item cadastrado. Que tal <a [routerLink]="['/item-categories/new']">cadastrar</a> agora?
          </small>
        </p>
      </div>
    </mat-card>
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Relatório
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <table class="table mat-table report">
        <div class="mat-header-row">
          <div class="mat-header-cell col-md-2 text-center">Total</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell col-md-2 text-center">{{ itemCategories?.length }}</div>
        </div>
      </table>
    </mat-card>
  </form>
</div>
