<div class="col-md-12">
  <form [formGroup]="searchForm">
    <div class="row">
        <mat-input-container class="col-md-9">
          <input matInput formControlName="search" placeholder="Qual categoria de item você procura?" autocomplete="off">
        </mat-input-container>
        <div class="col-md-3">
          <a [routerLink]="['/item-categories/new']" color="primary" mat-raised-button>
            NOVO
          </a>
        </div>
    </div>
  </form>
</div>
<div *ngIf="itemCategories?.length > 0" class="col-md-12">
  <table class="table mat-table">
    <div class="mat-header-row">
      <div class="mat-header-cell mat-column-id">ID</div>
      <div class="mat-header-cell mat-column-description">Descrição</div>
      <div class="mat-header-cell mat-column-itemCategory">Categoria pai</div>
    </div>
    <div class="mat-row" *ngFor="let itemCategory of itemCategories" [@rowAppeared]="rowAppearedState">
      <div class="mat-cell mat-column-id">
        {{ itemCategory.id }}
      </div>
      <div class="mat-cell mat-column-description">
        {{ itemCategory.description }}
      </div>
      <div class="mat-cell mat-column-itemCategory">
        {{ itemCategory.item_category?.description }}
      </div>
      <div class="mat-cell mat-column-action">
        <mat-menu #menu="matMenu">
          <a [routerLink]="['/item-categories/show', itemCategory.id]" mat-menu-item>
            <mat-icon>subject</mat-icon> Detalhes
          </a>
          <a [routerLink]="['/item-categories/edit', itemCategory.id]" mat-menu-item>
            <mat-icon>mode_edit</mat-icon> Editar
          </a>
          <button (click)="delete(itemCategory)" mat-menu-item>
            <mat-icon>delete</mat-icon> Remover
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </table>
</div>
<div *ngIf="itemCategories?.length == 0" class="col-md-12">
  <p>
    <small>
      Não encontramos resultados para sua busca. :(
    </small>
  </p>
</div>