<div class="col-md-12">
  <form [formGroup]="costCategoryForm" novalidate>
    <mat-card-title>
      <p class="lead">Dados da categoria de custo</p>
    </mat-card-title>
    <mat-card>
      <div class="row">
          <mat-input-container class="col-md-12">
            <input formControlName="description" matInput placeholder="Descrição">
          </mat-input-container>
      </div>
      <mat-card-actions class="col-md-12">
        <button *ngIf="typeForm === 'new'" color="primary" [disabled]="!costCategoryForm.valid" (click)="save(costCategoryForm.value)" mat-raised-button>
          <mat-icon>add_circle_outline</mat-icon> SALVAR
        </button>
        <button *ngIf="typeForm === 'edit'" color="primary" [disabled]="!costCategoryForm.valid" (click)="edit(costCategoryForm.value, costCategory.id)" mat-raised-button>
          <mat-icon>mode_edit</mat-icon> EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>