<div id="dataTableShow" class="col-md-12" *ngIf="briefing">
  <mat-card-title>
    <p class="lead">Dados do briefing</p>
  </mat-card-title>
  <mat-card>
    <dl>
      <dt>Job</dt>
      <dd>{{briefing.job.description}}</dd>
      <dt>Expositor</dt>
      <dd>{{briefing.exhibitor.fantasy_name}}</dd>
      <dt>Evento</dt>
      <dd>{{briefing.event}}</dd>
      <dt>Deadline</dt>
      <dd>{{briefing.deadline | date:'dd/MM/yyyy'}}</dd>
      <dt>Tipo</dt>
      <dd>{{briefing.job_type.description}}</dd>
      <dt>Agência</dt>
      <dd>{{briefing.agency.fantasy_name}}</dd>
      <dt>Atendimento</dt>
      <dd>{{briefing.attendance.name}}</dd>
      <dt>Criação</dt>
      <dd>{{briefing.creation.name}}</dd>
      <dt>Área (m²)</dt>
      <dd>{{briefing.area.replace('.',',')}}</dd>
      <dt>Verba</dt>
      <dd>{{briefing.budget | currency: 'BRL': true}}</dd>
      <dt>Valor/m²</dt>
      <dd>{{(briefing.area != 0 ? (briefing.budget/briefing.area) : '')  | currency: 'BRL': true}}</dd>
      <dt>Rate</dt>
      <dd>
        <cb-stars [readonly]="true" [rate]="briefing.rate"></cb-stars>
      </dd>
      <dt>Cadastrado em:</dt>
      <dd>{{briefing.created_at | date:'dd/MM/yyyy'}}</dd>
      <dt>Atualizado em:</dt>
      <dd>
        <span *ngIf="briefing.updated_at != '0000-00-00 00:00:00'">{{briefing.updated_at | date:'dd/MM/yyyy'}}</span>
      </dd>
      <dd>
        <span *ngIf="briefing.updated_at == '0000-00-00 00:00:00'">&nbsp;</span>
      </dd>
    </dl>
  </mat-card>
  <div *ngIf="briefing.stand">
    <mat-card-title>
      <p class="lead">Stand</p>
    </mat-card-title>
    <mat-card>
      <dl>
        <dt>Configuração</dt>
        <dd>{{briefing.stand.configuration.description}}</dd>
        <dt>Local</dt>
        <dd>{{briefing.stand.place}}</dd>
        <dt>Planta do Evento/Local</dt>
        <dd>
          <a class="link" (click)="download(briefing, briefing.stand.plan, 'stand', 'plan')">{{briefing.stand.plan}}</a>
        </dd>
        <dt>Regulamento</dt>
        <dd>
          <a class="link" (click)="download(briefing, briefing.stand.regulation, 'stand', 'regulation')">{{briefing.stand.regulation}}</a>
        </dd>
        <dt>Coluna</dt>
        <dd>{{briefing.stand.column == 0 ? 'Não' : 'Sim'}}</dd>
        <dt>Rua e número</dt>
        <dd>{{briefing.stand.street_number}}</dd>
        <dt>Área fechada/aberta</dt>
        <dd>{{briefing.stand.closed_area_percent}}%/{{100-briefing.stand.closed_area_percent}}%</dd>
        <dt>Gênero</dt>
        <dd>{{briefing.stand.genre.description}}</dd>
        <dt>Observações</dt>
        <dd>{{briefing.stand.note}}</dd>
      </dl>
    </mat-card>
  </div>
  <mat-card-title>
    <p class="lead">Outras informações</p>
  </mat-card-title>
  <mat-card>
    <dl>
      <dt>Concorrência</dt>
      <dd>{{briefing.competition.description}}</dd>
      <dt>Referências</dt>
      <dd>
        <a class="link" (click)="download(briefing, briefing.latest_mounts_file, 'briefing', 'latest_mounts_file')">{{briefing.latest_mounts_file}}</a>
      </dd>
      <dt>Cores e Materiais Sugeridos</dt>
      <dd>
        <a class="link" (click)="download(briefing, briefing.latest_mounts_file, 'briefing', 'latest_mounts_file')">{{briefing.colors_file}}</a>
      </dd>
      <dt>Guide / Key Visual / Logos / Imagens / Produtos</dt>
      <dd>
        <a class="link" (click)="download(briefing, briefing.latest_mounts_file, 'briefing', 'latest_mounts_file')">{{briefing.guide_file}}</a>
      </dd>
      <dt>Apresentação</dt>
      <dd>{{briefing.presentation.description}}</dd>
      <dt>Apresentação especial</dt>
      <dd>{{briefing.special_presentation.description}}</dd>
      <dt>Expectativa de aprovação</dt>
      <dd>
        <cb-stars [readonly]="true" [rate]="briefing.approval_expectation_rate"></cb-stars>
      </dd>
      <dt>Histórico Think (Aprovações/Participações):</dt>
      <dd>{{''}}</dd>
    </dl>
  </mat-card>
</div>
