<div id="dataTableShow" class="col-md-12" *ngIf="client">
  <md-card-title>
    <p class="lead">Dados do cliente</p>
  </md-card-title>
  <md-card>
    <dl>
      <dt>Nome</dt>
      <dd>{{client.name}}</dd>
      <dt>Nome fantasia</dt>
      <dd>{{client.fantasyName}}</dd>
      <dt>CNPJ</dt>
      <dd>{{client.cnpj}}</dd>
      <dt>Inscrição estadual</dt>
      <dd>{{client.ie}}</dd>
      <dt>Telefone principal</dt>
      <dd>{{client.mainphone}}</dd>
      <dt>Telefone secundário</dt>
      <dd>{{client.secundaryphone}}</dd>
      <dt>Site</dt>
      <dd>{{client.site}}</dd>
      <dt>Score</dt>
      <dd>
        <cb-stars [readonly]="true" [rate]="client.rate"></cb-stars>
      </dd>
      <dt>Atendimento</dt>
      <dd>{{client.employee.name}}</dd>
    </dl>
  </md-card>
  <div *ngFor="let contact of client.contacts; let i = index">
    <md-card-title>
      <p class="lead">Contato {{i+1}}</p>
    </md-card-title>
    <md-card>
      <dl>
        <dt>Nome</dt>
        <dd>{{contact.name}}</dd>
        <dt>E-mail</dt>
        <dd>{{contact.email}}</dd>
        <dt>Departamento</dt>
        <dd>{{contact.department}}</dd>
        <dt>Celular</dt>
        <dd>{{contact.cellphone}}</dd>
      </dl>
    </md-card>
  </div>
  <md-card-title>
    <p class="lead">Endereço</p>
  </md-card-title>
  <md-card>
    <dl>
      <dt>Logradouro</dt>
      <dd>{{client.street}}</dd>
      <dt>Número</dt>
      <dd>{{client.number}}</dd>
      <dt>Bairro</dt>
      <dd>{{client.neighborhood}}</dd>
      <dt>Complemento</dt>
      <dd>{{client.complement}}</dd>
      <dt>Cidade</dt>
      <dd>{{client.city.name}}</dd>
      <dt>CEP</dt>
      <dd>{{client.cep}}</dd>
    </dl>
  </md-card>
  <md-card-title>
    <p class="lead">Projetos relacionados</p>
  </md-card-title>
  <md-card></md-card>
</div>
