<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-extra="extra">
        <button (click)="edit(extra)" mat-menu-item>
          <mat-icon>mode_edit</mat-icon> Editar
        </button>

        <button (click)="delete(extra)" mat-menu-item>
          <mat-icon>delete</mat-icon> Remover
        </button>
    </ng-template>
</mat-menu>

<mat-accordion class="check-in-accordion extras-grid">

    <mat-expansion-panel hideToggle [expanded]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Extras:</h6>
            
                <div class="check-in-header-right">
                    {{ valorTotalExtrasRecebido | currency: 'BRL' }}

                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">
            <div class="check-in-grid-left accept-approval">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('approval', checkInModel.approval || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.approval || 0 }}"
                                [title]="label"
                                (click)="approvalSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #approvalSelect
                                    [disabled]="employeeId != job.attendance.id"
                                    [(ngModel)]="checkInModel.approval"
                                    (ngModelChange)="updateAlertDateApproval()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept">
                                        {{ getAcceptLabel('approval', accept || 0) }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="(job && job.attendance && job.attendance.id ? getEmployeeName(job.attendance.id) : '') as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.approval_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right accept-approval">
            </div>

            <div class="check-in-grid-left accept-client">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('client', checkInModel.extras_accept_client || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.extras_accept_client || 0 }}"
                                (click)="acceptClientSelect.open()">
                                <span class="text-ellipsis"
                                    [title]="label">
                                    {{ label }}
                                </span>

                                <mat-icon *ngIf="checkInModel.extras_accept_client === 2 && checkInModel.reason_for_rejection"
                                    class="client-refuse"
                                    matTooltipClass="client-refuse-tooltip"
                                    matTooltipPosition="above"
                                    [matTooltip]="'Motivo de recusa: ' + checkInModel.reason_for_rejection">
                                    info
                                </mat-icon>

                                <mat-select class="select-hidden col-md-3" #acceptClientSelect
                                    [(ngModel)]="checkInModel.extras_accept_client"
                                    (ngModelChange)="updateAlertDateAcceptClient()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept"
                                        [disabled]="accept != 0">
                                        {{ getAcceptLabel('client', accept || 0) }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getClientName() as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.extras_accept_client_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right send-email">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <a *ngIf="checkInModel.extras_accept_client === 0 && extras && extras.length"
                            (click)="sendEmail()">
                            Enviar e-mail para aceite de cliente
                            
                            <mat-icon>send</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="check-in-grid-left extras-left" style="min-height: 90px;">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        ITEM
                    </div>

                    <div class="check-in-cell" title="Quantidade">
                        QTD
                    </div>

                    <div class="check-in-cell">
                        VALOR
                    </div>

                    <div class="check-in-cell">
                        SOLICITANTE
                    </div>

                    <div class="check-in-cell">
                        ORÇAMENTO
                    </div>
                </div>

                <div *ngFor="let extra of extras" class="check-in-row cursor-pointer">
                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.description }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.quantity || 1 }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.value | currency: 'BRL' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra && extra.requester_object ? extra.requester_object.name : '' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra && extra.budget_object ? extra.budget_object.name : '' }}
                    </div>
                </div>

                <a class="icon-button" style="margin: 3px 8px; margin-right: auto;" mat-button (click)="openModalExtra()">
                    <mat-icon>add</mat-icon>
                </a>
        
            </div>

            <div class="check-in-grid-right extras-right">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        APROVAÇÃO
                    </div>

                    <div class="check-in-cell">
                        COMISSÃO EXTRA
                    </div>

                    <div class="check-in-cell">
                        FATURAMENTO
                    </div>

                    <div class="check-in-cell">
                        DATA
                    </div>

                    <div class="check-in-cell">
                        VENCIMENTO
                    </div>

                    <div class="check-in-cell">
                        QUITAÇÃO
                    </div>
                </div>

                <div class="content-list">
                    <div class="list">
                        <div *ngFor="let extra of extras" class="check-in-row cursor-pointer">
                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.approval_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.extra_commission }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra && extra.billing_employee_object ? extra.billing_employee_object.name : '' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.due_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.settlement_date | date: 'dd MMMM yyyy' }}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="content-bottom">
                        Aprovado Rodolfo Morales 15 jun 2024 | Desconto/Juros R$ 1.000,00
                    </div> -->
                </div>

            </div>

            <div class="check-in-grid-left total-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtras | currency: 'BRL' }}</div>
                </div>
            </div>
        
            <div class="check-in-grid-right extra-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS RECEBIDO</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtrasRecebido | currency: 'BRL' }}</div>
                </div>
            </div>

        </div>

        <cb-check-in-obs name="extras_obs" id="extras_obs"
            [(ngModel)]="checkInModel.extras_obs"
            (ngModelChange)="changeObs()"
            [borderBottom]="true">
        </cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>