<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-extra="extra">
        <button (click)="edit(extra)" mat-menu-item>
          <mat-icon>mode_edit</mat-icon> Editar
        </button>

        <button (click)="delete(extra)" mat-menu-item>
          <mat-icon>delete</mat-icon> Remover
        </button>
    </ng-template>
</mat-menu>

<mat-accordion class="check-in-accordion extras-grid">

    <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Extras:</h6>
            
                <div class="check-in-header-right">
                    {{ valorTotalExtrasRecebido | currency: 'BRL' }}
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">

            <div class="check-in-grid-left accept-client">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="checkInModel.extras_accept_client"
                            (click)="validateAcceptClient($event)"
                            readonly>
                            ACEITE CLIENTE
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getClientName() as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.extras_accept_client_date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right send-email">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <a *ngIf="!checkInModel.extras_accept_client && extras && extras.length"
                            (click)="sendEmail()">
                            Enviar e-mail para aceite de cliente
                            
                            <mat-icon>send</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="check-in-grid-left extras-left" style="min-height: 90px;">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        ITEM
                    </div>

                    <div class="check-in-cell" title="Quantidade">
                        QTD
                    </div>

                    <div class="check-in-cell">
                        VALOR
                    </div>

                    <div class="check-in-cell">
                        SOLICITANTE
                    </div>

                    <div class="check-in-cell">
                        ORÇAMENTO
                    </div>
                </div>

                <div *ngFor="let extra of extras" class="check-in-row cursor-pointer">
                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.description }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.quantity || 1 }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra.value | currency: 'BRL' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra && extra.requester_object ? extra.requester_object.name : '' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ extra: extra }">
                        {{ extra && extra.budget_object ? extra.budget_object.name : '' }}
                    </div>
                </div>

                <a class="icon-button" style="margin: 3px 8px; margin-right: auto;" mat-button (click)="openModalExtra()">
                    <mat-icon>add</mat-icon>
                </a>
        
            </div>

            <div class="check-in-grid-right extras-right">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        APROVAÇÃO
                    </div>

                    <div class="check-in-cell">
                        COMISSÃO EXTRA
                    </div>

                    <div class="check-in-cell">
                        FATURAMENTO
                    </div>

                    <div class="check-in-cell">
                        DATA
                    </div>

                    <div class="check-in-cell">
                        VENCIMENTO
                    </div>

                    <div class="check-in-cell">
                        QUITAÇÃO
                    </div>
                </div>

                <div class="content-list">
                    <div class="list">
                        <div *ngFor="let extra of extras" class="check-in-row cursor-pointer">
                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.approval_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.extra_commission }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra && extra.billing_employee_object ? extra.billing_employee_object.name : '' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.due_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ extra: extra }">
                                {{ extra.settlement_date | date: 'dd MMMM yyyy' }}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="content-bottom">
                        Aprovado Rodolfo Morales 15 jun 2024 | Desconto/Juros R$ 1.000,00
                    </div> -->
                </div>

            </div>

            <div class="check-in-grid-left total-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtras | currency: 'BRL' }}</div>
                </div>
            </div>
        
            <div class="check-in-grid-right extra-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS RECEBIDO</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtrasRecebido | currency: 'BRL' }}</div>
                </div>
            </div>

        </div>

        <cb-check-in-obs name="extras_obs" id="extras_obs"
            [(ngModel)]="checkInModel.extras_obs"
            (ngModelChange)="changeObs()"
            [borderBottom]="true">
        </cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>