.mat-column-name {
    width: 45%;
}

.mat-column-city {
    width: 25%;
}

.mat-column-state {
    width: 25%;
}

.mat-column-action {
    width: 5%;
}

.filter-grid .row .col-md-12 {
  display: flex;
  flex-wrap: wrap;
}
