<div class="my-container">
    <h3 class="lead">Alertas</h3>
</div>

<div class="col-md-12">
    <mat-card style="min-height: 25rem;">
        <div class="title">
            Você possui -- projetos sem atualização de status
        </div>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>97 Dias</td>
                  <td>Rodolfo Lopes</td>
                  <td>Projeto</td>
                  <td>Cenografia</td>
                  <td>Banco Pine</td>
                  <td>B.hub - corporate events</td>
                  <td>Festa de final de ano</td>
                  <td>100.000.00</td>
                  <td>Icone</td>
                  <td>14/07</td>
                  <td>Ernesto Milanese</td>
                  <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Small button
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>97 Dias</td>
                    <td>Rodolfo Lopes</td>
                    <td>Projeto</td>
                    <td>Cenografia</td>
                    <td>Banco Pine</td>
                    <td>B.hub - corporate events</td>
                    <td>Festa de final de ano</td>
                    <td>100.000.00</td>
                    <td>Icone</td>
                    <td>14/07</td>
                    <td>Ernesto Milanese</td>
                    <td>Stand-by</td>
                  </tr>
              </tbody>
            </table>
          </div>
        
    </mat-card>
</div>