.border-right {
  border-right: 1px solid #cfcfcf;
}

.title {
  font-size: 20px;
  color: #727272;
  font-weight: 300;
  margin-bottom: 1px;
}

.sub-title {
  font-size: 12px;
  height: 16px;
  color: #aaa;
}
.subtitle {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: lighter;
  font-size: 12px;
  color: #aaa;
}

.comitions {
  color: #959595;
  font-size: 11.4px;
  margin-top: 5px;
}

.hr-top {
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgb(0 0 0 / 36%);
}

.btn-send {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #727272;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 13px;
  height: 30px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 38px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.btn-send:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #3c4043;
}

.button-next-prev:focus {
  border-color: #4285f4;
  outline: none;
}

/* .subtitle {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin-top: 3px;
  font-weight: lighter;
  font-size: 12px;
  color: #AAA;
}

.total-value {
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.row-commission {
  padding-top: 7px;
}
 */

.orcamento {
  /* margin-left: 4rem;
  margin-right: 4rem; */
  margin-bottom: 1rem !important;
  gap: 1rem;
}

.mt-4rem {
  /* margin-top: 2rem; */
} 

.orcamento-header,
.orcamento-footer {
  margin: 1rem !important;
}

.orcamento-header {
  margin-bottom: 1.5rem !important;
}

.orcamento-header h3,
.orcamento-valores-header h3 {
  font-size: 16px;
  color: #727272;
  margin: 0;
  padding: 0;
}

.orcamento-valores-header .orcamento-valor-titulo {
  color: #112730;
}

.orcamento-valores-header .orcamento-valor-data {
  color: #a1a4ad;
  font-size: 14px;
}
.orcamento-orcado {
  padding-left: 0;
}

.orcamento-valor {
  margin-bottom: 1.5rem;
}

.lucro {
  color: #218f67;
}

.perda {
  color: #cf4949;
}

.perda-important {
  color: #cf4949 !important;
}

.neutro {
  color: #24b8df;
}

mat-expansion-panel {
  background-color: rgba(231, 230, 239, 0.25) !important;
}

mat-expansion-panel-header {
  background-color: #fff !important;
}

.extrato-icon {
  font-size: 1.4rem;
  line-height: 1.1;
  color: #778;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-relatorio {
  font-size: 16px;
  color: #778;
  line-height: 1.2;
  font-weight: 700;
  margin-left: 0.3rem;
}

.titulo-relatorio {
  color: #1f4150;
  font-size: 16px;
  font-weight: 500;
}

.mat-suffix {
  color: #aaa;
}

.saldo-total {
  font-size: 16px;
  color: #727272;
}

.orcamento-campos.extrato input {
  color: #218f67;
}

.orcamento-campos.extrato input.porcentagem {
  color: rgba(0, 0, 0, .38) !important;
}

.orcamento-campos.extrato input.reaproveitamento {
  color: inherit !important;
}


.ajuste-margin {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}