<div class="orcamento d-flex justify-content-center">
    <mat-card class="col-md-6">
        <div class="orcamento-header d-flex justify-content-center">
            <h3>Pré Orçamento</h3>
        </div>

        <div class="orcamento-campos">
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Atendimento"
                  value="Rodolfo">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Cliente"
                  value="IS">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Evento"
                  value="Bett Brasil">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Local"
                  value="Center Norte">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Orçamentista"
                  value="Nildo">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Gerente"
                  value="Jefferson Duarte">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Detalhamento"
                  value="Jefferson Duarte">
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Produtor"
                  value="Jefesson Duarte">
              </mat-form-field>
          </div>
        </div>

        <div class="orcamento-footer d-flex justify-content-center">
          Ver relatório completo
        </div>
    </mat-card>

    <mat-card class="col-md-6">
      <div class="orcamento-header d-flex justify-content-center">
          <h3>Informações do evento</h3>
      </div>
     
      <div class="orcamento-campos">
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Data do evento"
                value="29/01/2024">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Verba"
                value="R$ 669.6000,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Área Térreo (m2)"
                value="372">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Mezanino (m2)"
                value="0">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Data de montagem"
                value="13/01/2024">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Data do inicio do evento"
                value="28/01/2024">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Data do fim do evento"
                value="26/04/2024">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Data de desmontagem"
                value="27/04/2024">
            </mat-form-field>
        </div>
      </div>

      <div class="orcamento-footer d-flex justify-content-center">
        Ver relatório completo
      </div>
    </mat-card>
</div>

<div class="orcamento d-flex justify-content-center">
  <mat-card class="col-md-7">
    <div class="orcamento-header d-flex justify-content-between">
        <h3>Orçado</h3>

        <span>Últimos 7 dias</span>
    </div>

    <div class="orcamento-header d-flex justify-content-between">
        <h3>Serviços</h3>
        <h3>% Total</h3>
    </div>

    <div class="orcamento-campos">
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Atendimento"
              value="Rodolfo">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Cliente"
              value="IS">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Evento"
              value="Bett Brasil">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Local"
              value="Center Norte">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Orçamentista"
              value="Nildo">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Gerente"
              value="Jefferson Duarte">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Detalhamento"
              value="Jefferson Duarte">
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              type="text"
              class="text-right"
              placeholder="Produtor"
              value="Jefesson Duarte">
          </mat-form-field>
      </div>
    </div>

    <div class="orcamento-footer d-flex justify-content-end">
      Saldo total: R$ 5.588
    </div>
  </mat-card>

  <div class="col-md-5 orcamento-orcado">
    <div class="orcamento-valores">
        <div>
            <div class="orcamento-valores-header d-flex justify-content-between">
                <h3>Orçado</h3>
                <h3>Hoje</h3>
            </div>
            <div>
                <h2>R$ 669.600</h2>
            </div>
            <span>Ver extrato ></span>
        </div>
        <div>
          <div class="orcamento-valores-header d-flex justify-content-between">
              <h3>Despesas</h3>
              <h3>Hoje</h3>
          </div>
          <div>
              <h2>R$ 351.064</h2>
          </div>
          <span>Ver extrato ></span>
      </div>
      <div>
          <div class="orcamento-valores-header d-flex justify-content-between">
              <h3>Total Geral Stand</h3>
              <h3>Hoje</h3>
          </div>
          <div>
              <h2>R$ 705.068</h2>
          </div>
          <span>Ver extrato ></span>
      </div>
      <div>
          <div class="orcamento-valores-header d-flex justify-content-between">
              <h3>Liquído Think</h3>
              <h3>Hoje</h3>
          </div>
          <div>
              <h2>R$ 167.401</h2>
          </div>
          <span>Ver extrato ></span>
      </div>
    </div>
    <mat-card class="col-md-12 mt-2">
      <div class="orcamento-header d-flex justify-content-between">
          <h3>Racional Custos</h3>
  
          <span>Últimos 7 dias</span>
      </div>
  
      <div class="orcamento-header d-flex justify-content-between">
          <h3>Descrição</h3>
          <h3>% Total</h3>
      </div>
  
      <div class="orcamento-campos">
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Custo Total"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Imposto"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Comissão de Vendas"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação de Vendas"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação Projetista Interno"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação Orçamento"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação Gerente de Produção"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação Produção"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Bonificação Detalhamento"
                value="R$ 0,00">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Total Estande"
                value="R$ 652.980,00">
            </mat-form-field>
        </div>
      </div>
  
      <div class="orcamento-footer d-flex justify-content-end">
        Saldo total: R$ 5.588
      </div>
    </mat-card>
  </div>
</div>

<!-- <mat-accordion>
  <mat-expansion-panel *ngFor="let budgetForm  of budgetForms; let i = index" [expanded]="i == expandedIndex">
    <mat-expansion-panel-header>

        <mat-panel-title>
          <p class="lead d-flex align-items-baseline">
            <span>{{ taskService.budgetDisplay(sortedTasks[i]) }}</span>
            <br>
            <span *ngIf="sortedTasks[i]?.project_files?.length > 0" class="lead subtitle ml-2"> {{ getLastPersonWhoModified(i) }} - {{ getLastPersonWhoModifiedDate(i) | date: 'dd/MM/yyyy HH:mm' }}</span>
          </p>
        </mat-panel-title>

    </mat-expansion-panel-header>

    
    <hr class="hr mt-0">
    
    <form [formGroup]="budgetForm" autocomplete="off">
      <mat-card>
      
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="col-md-6 d-flex justify-content-start p-0">
              <div class="col-md-3 d-flex flex-column justify-content-between p-0 mr-4">
                <label class="comitions">Comissões:</label>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Outros (8%)"
                    formControlName="orders_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 p-0 mr-4">
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Atendimento (8%)"
                    formControlName="attendance_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Criação (3%)"
                    formControlName="creation_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Pré Produção (1%)"
                    formControlName="pre_production_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 mr-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Produção (1%)"
                    formControlName="production_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Detalham. (0,5%)"
                    formControlName="details_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Orçamento (1%)"
                    formControlName="budget_si_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
            </div>
    
            <div class="col-md-6 d-flex justify-content-end p-0">
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="BV (10%)"
                    formControlName="bv_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Over/Taxas:"
                    formControlName="over_rates_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Desconto:"
                    formControlName="discounts_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Impostos (15,5%)"
                    formControlName="taxes_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Logística:"
                    formControlName="logistics_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Equipamentos:"
                    formControlName="equipment_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Custo Total:"
                    formControlName="total_cost_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Lucro Bruto"
                    formControlName="gross_profit_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Lucro %"
                    formControlName="profit_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <hr class="hr mb-0">
        <div class="d-flex justify-content-between">
          <div>
            <h3 class="title">Valor Estimado: {{ job.budget_value | currency: 'BRL' }}</h3>
          </div>
          <div>
            <mat-form-field>
              <input
                currencyMask
                matInput 
                placeholder="Valor Orçamento:"
                formControlName="final_value">
            </mat-form-field>
          </div>
        </div>
        <div class="mt-2 d-flex justify-content-end">
          <button (click)="sendValues(budgetForm)" class="cb-button" color="primary" mat-raised-button>ENVIAR</button>
        </div>
      </mat-card>
    </form>
  </mat-expansion-panel>
</mat-accordion> -->



<!-- <form [formGroup]="budgetForm" novalidate autocomplete="off">
  <mat-card>
    <div class="row">
      <div class="col-md-12 text-left">
        <p class="lead">Valor</p>
        <p *ngIf="budget != null" class="lead subtitle">{{ budget?.responsible?.name + ' | ' + (budget.updated_at | date: 'dd/MM/yyyy HH:mm') }}</p>
      </div>
    </div>
    <hr class="divisor">
    <div class="row align-center row-commission">
      <div class="col-md-6">
        <div class="row">
            <mat-form-field class="col-md-6">
              <input currencyMask formControlName="sales_commission_value" matInput placeholder="Comissão de atendimento*">
            </mat-form-field>
        </div>
      </div>
      <div *ngIf="total > 0" class="col-md-6 text-right">
        <p class="lead total-value">{{ total | currency: 'BRL' }}</p>
        <p class="lead subtitle">Valor total da proposta</p>
      </div>
    </div>
  </mat-card>
  <div *ngIf="isAdmin || isAttendance">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="task_id">
    <input type="hidden" formControlName="tax_aliquot">
    <mat-card>
      <hr class="divisor">
      <div class="row">
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="gross_value" matInput placeholder="Valor bruto*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="bv_value" matInput placeholder="Valor BV*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="equipments_value" matInput placeholder="Equipamentos*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="logistics_value" matInput placeholder="Logística*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="optional_value" matInput placeholder="Opcionais">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="tax_value" matInput placeholder="Impostos">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="others_value" matInput placeholder="Outros">
        </mat-form-field>
        <mat-form-field *ngIf="isAttendance" class="col-md-3">
          <input currencyMask formControlName="discount_value" matInput placeholder="Descontos">
        </mat-form-field>
     
        <mat-form-field *ngIf="!isAttendance" class="col-md-1">
          <input currencyMask [options]="{prefix: ''}" class="text-right" formControlName="markup_aliquot" matInput placeholder="Fator">
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field *ngIf="!isAttendance" class="col-md-2">
          <input currencyMask class="text-right" formControlName="markup_value" matInput placeholder="Markup">
        </mat-form-field>
      </div>
      <mat-card-actions *ngIf="isAdmin" class="col-md-12 text-right">
        <button class="cb-button" *ngIf="typeForm === 'new' || budget == null" color="primary" (click)="save()" mat-raised-button>
          SALVAR
        </button>
        <button class="cb-button" *ngIf="typeForm === 'edit' && budget != null" color="primary" (click)="edit()" mat-raised-button>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
 -->