<form [formGroup]="budgetForm" novalidate autocomplete="off">
  <input type="hidden" formControlName="id">
  <mat-card>
    <div class="row">
      <mat-form-field class="col-md-3">
        <input [readonly]="!isAdmin" type="date" formControlName="available_date" matInput placeholder="Data disponível*">
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-select #responsible (click)="toggleCreation()" placeholder="Orçamentista*" formControlName="responsible" [compareWith]="compareResponsible">
          <mat-option *ngFor="let responsible of responsibles" [value]="responsible">
            {{ responsible.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card-actions class="col-md-12 text-right">
      <button class="cb-button" *ngIf="typeForm === 'new' || budget == null" color="primary" (click)="save()" mat-raised-button>
        SALVAR
      </button>
      <button class="cb-button" *ngIf="typeForm === 'edit' && budget != null" color="primary" (click)="edit()" mat-raised-button>
        EDITAR
      </button>
    </mat-card-actions>
  </mat-card>
</form>
