<mat-accordion>
  <mat-expansion-panel *ngFor="let budgetForm  of budgetForms; let i = index" [expanded]="i == expandedIndex">
    <mat-expansion-panel-header>

        <mat-panel-title>
          <p class="lead d-flex align-items-baseline">
            <span>{{ taskService.budgetDisplay(sortedTasks[i]) }}</span>
            <br>
            <span *ngIf="sortedTasks[i]?.project_files?.length > 0" class="lead subtitle ml-2"> {{ getLastPersonWhoModified(i) }} - {{ getLastPersonWhoModifiedDate(i) | date: 'dd/MM/yyyy HH:mm' }}</span>
          </p>
        </mat-panel-title>

    </mat-expansion-panel-header>

    
    <hr class="hr mt-0">
    
    <form [formGroup]="budgetForm" autocomplete="off">
      <div class="orcamento d-flex justify-content-center mt-4rem">
        <mat-card class="col-md-6">
            <div class="orcamento-header d-flex justify-content-center">
                <h3>Pré orçamento</h3>
            </div>
      
            <div class="orcamento-campos">
              <div class="col-md-12">
                  <mat-form-field>
                    <mat-select class="text-right" placeholder="Atendimento" formControlName="attendance" [compareWith]="compareAttendance">
                      <mat-option *ngFor="let attendance of attendances" [value]="attendance">
                        {{ attendance.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      Obrigatório
                    </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input class="text-right" matInput formControlName="client" placeholder="Cliente">
                  <mat-error>
                    Obrigatório
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input class="text-right" ucWords formControlName="event" matInput placeholder="Evento">
                  <mat-error>
                    Obrigatório, entre 3 e 150 caract.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input class="text-right" formControlName="place" matInput placeholder="Local">
                  <mat-error>
                    Obrigatório
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field>
                    <input
                      [disabled]="true"
                      matInput
                      type="text"
                      class="text-right"
                      placeholder="Orçamentista"
                      formControlName="budget_responsible">
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      class="text-right"
                      placeholder="Gerente"
                      [disabled]="true"
                      value="-">
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      class="text-right"
                      placeholder="Detalhamento"
                      formControlName="creation_responsible">
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      class="text-right"
                      placeholder="Produtor"
                      formControlName="producer">
                      <mat-error>
                        Obrigatório
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Valor Orçamento:"
                    formControlName="final_value">
                    <mat-error>
                      Obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
            </div>
      
            <!-- <div class="orcamento-footer cursor-pointer d-flex justify-content-center">
                <span class="titulo-relatorio">Ver relatório completo</span>

                <mat-icon class="icon-relatorio">north_east</mat-icon>
            </div> -->
        </mat-card>
      
        <mat-card class="col-md-6">
          <div class="orcamento-header d-flex justify-content-center">
              <h3>Informações do evento</h3>
          </div>
         
          <div class="orcamento-campos">
            <div class="col-md-12">
                <mat-form-field>
                  <input class="text-right" [matDatepicker]="availableDatepicker" formControlName="dt_event" matInput placeholder="Data do evento">
                  <mat-datepicker-toggle matSuffix [for]="availableDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #availableDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <input class="text-right" currencyMask formControlName="budget_value" matInput placeholder="Verba">
                <mat-error>
                  Obrigatório, até 99.999.999,99
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <input class="text-right" matInput formControlName="area" placeholder="Área Térreo (m²)">
              </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Mezanino (m2)"
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="mezanino">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                  <input class="text-right" [matDatepicker]="availableDatepickerDtMontagem" formControlName="dt_montagem" matInput placeholder="Data de montagem">
                  <mat-datepicker-toggle matSuffix [for]="availableDatepickerDtMontagem"></mat-datepicker-toggle>
                  <mat-datepicker #availableDatepickerDtMontagem></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <input class="text-right" [matDatepicker]="availableDatepickerInicioEvent" formControlName="dt_inicio_event" matInput placeholder="Data do inicio do evento">
                <mat-datepicker-toggle matSuffix [for]="availableDatepickerInicioEvent"></mat-datepicker-toggle>
                <mat-datepicker #availableDatepickerInicioEvent></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <input class="text-right" [matDatepicker]="availableDatepickerFimoEvent" formControlName="dt_fim_event" matInput placeholder="Data do fim do evento">
                <mat-datepicker-toggle matSuffix [for]="availableDatepickerFimoEvent"></mat-datepicker-toggle>
                <mat-datepicker #availableDatepickerFimoEvent></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <input class="text-right" [matDatepicker]="availableDatepickerDtDesmontagem" formControlName="dt_desmontagem" matInput placeholder="Data de desmontagem">
                <mat-datepicker-toggle matSuffix [for]="availableDatepickerDtDesmontagem"></mat-datepicker-toggle>
                <mat-datepicker #availableDatepickerDtDesmontagem></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
      
          <!-- <div class="orcamento-footer cursor-pointer d-flex justify-content-center">
            <span class="titulo-relatorio">Ver relatório completo</span>
            <mat-icon class="icon-relatorio">north_east</mat-icon>
          </div> -->
        </mat-card>
      </div>
      
      <div class="orcamento d-flex justify-content-center" [class.ajuste-margin]="!isDiretoria">
      <mat-card class="col-md-6" [class.col-md-12]="!isDiretoria">
        <div class="orcamento-header d-flex justify-content-between">
            <h3>Extrato</h3>
      
            <!-- <span>Últimos 7 dias</span> -->
        </div>
      
        <div class="orcamento-header d-flex justify-content-between">

          <div class="col-md-10 d-flex p-0 justify-content-between w-100">
            <h3 class="col-md-3 p-0">Serviços</h3>
            <h3 class="col-md-9 p-0 d-flex justify-content-end">Reaproveitamento</h3>
          </div>
          <h3 class="col-md-2 p-0 d-flex justify-content-end">% Total</h3>

            <!-- <h3>Serviços</h3>
            <h3>Reproveitamento</h3>
            <h3>% Total</h3> -->
        </div>
      
        <div class="orcamento-campos extrato">
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Material - Marcenaria"
                  formControlName="marcenaria"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="marcenaria_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="marcenaria_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
          </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Material - Revestimento Especiais"
                  formControlName="revestimentos_epeciais"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="revestimentos_epeciais_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="revestimentos_epeciais_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Material - Estrutura Metálicas"
                  formControlName="estrutura_metalicas"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="estrutura_metalicas_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="estrutura_metalicas_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Material - Mezanino"
                  formControlName="material_mezanino"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="material_mezanino_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="material_mezanino_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Caixilharia - Fechamento Vidro"
                  formControlName="fechamento_vidro"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="fechamento_vidro_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="fechamento_vidro_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Vidraçaria - Vitrines"
                  formControlName="vitrines"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="vitrines_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="vitrines_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Acrílico"
                  formControlName="acrilico"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="acrilico_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="acrilico_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
              <mat-form-field class="col-md-7">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Mobiliário"
                  formControlName="mobiliario"
                  currencyMask
                (keypress)="allowOnlyNumbers($event)">
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <input
                  matInput
                  formControlName="mobiliario_reaproveitamento"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
              </mat-form-field>
                <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="mobiliario_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Refrigeração e Climatização"
                formControlName="refrigeracao_climatizacao"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="refrigeracao_climatizacao_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="refrigeracao_climatizacao_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
          </div>
        <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Paisagismo"
                formControlName="paisagismo"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="paisagismo_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="paisagismo_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
          </div>
        <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Comunicação Visual"
                formControlName="comunicacao_visual"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="comunicacao_visual_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="comunicacao_visual_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
          </div>
        <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Equipamento Audio Visual"
                formControlName="equipamento_audio_visual"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="equipamento_audio_visual_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="equipamento_audio_visual_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Acessórios - itens especiais"
                formControlName="itens_especiais"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="itens_especiais_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="itens_especiais_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
          <div class="col-md-12 p-0">
            <mat-form-field class="col-md-7">
              <input
                matInput
                type="text"
                class="text-right"
                placeholder="Execução (Mão de Obra, Taxas, Limpeza, Segurança)"
                formControlName="execucao"
                currencyMask
                (keypress)="allowOnlyNumbers($event)">
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <input
                matInput
                formControlName="execucao_reaproveitamento"
                currencyMask
                (keypress)="allowOnlyNumbers($event)"
                type="text"
                class="text-right">
            </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="execucao_porcentagem"
                  type="text"
                  class="text-right porcentagem">
                <span class="mat-suffix" matSuffix>%</span>
              </mat-form-field>
            </div>
            <div class="orcamento-footer d-flex justify-content-end saldo-total">
              Saldo total: <span class="lucro" style="font-weight: 500; display: contents;">{{ budgetForm.controls.custo_total.value | currency: 'BRL' }}</span>
            </div>
              <div class="orcamento-header d-flex justify-content-between">
                <h3>Diversos | Operacional</h3>
              </div>
              <div class="col-md-12 p-0">
                <mat-form-field class="col-md-7">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Serviços - Diversos | Operacional"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="servico_diversos_operacional">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <input
                    matInput
                    formControlName="servico_diversos_operacional_reaproveitamento"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="servico_diversos_operacional_porcentagem"
                    type="text"
                    class="text-right porcentagem">
                  <span class="mat-suffix" matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="orcamento-header d-flex justify-content-between">
              <h3 class="p-0">Logística</h3>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-7">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Operacional - Logística"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="operacional_logistica">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                  <input
                    matInput
                    formControlName="operacional_logistica_reaproveitamento"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="operacional_logistica_porcentagem"
                    type="text"
                    class="text-right porcentagem">
                  <span class="mat-suffix" matSuffix>%</span>
                </mat-form-field>
            </div>
        </div>

      </mat-card>
      
      <div class="col-md-6 orcamento-orcado" *ngIf="isDiretoria">
        <mat-card class="col-md-12">
          <div class="orcamento-header d-flex justify-content-between">
              <h3>Racional Custos</h3>
      
              <!-- <span>Últimos 7 dias</span> -->
          </div>
      
          <div class="orcamento-header d-flex justify-content-between">
              <div class="col-md-10 d-flex p-0 justify-content-between w-100">
                <h3 class="col-md-3 p-0">Descrição</h3>
                <h3 class="col-md-9 p-0 d-flex justify-content-end">% Total</h3>
              </div>
              <h3 class="col-md-2 p-0 d-flex justify-content-end">% Meta</h3>
          </div>
      
          <div class="orcamento-campos racional-custos">
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Custo Total"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="custo_total">
                </mat-form-field>

                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="custo_total_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Imposto"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="imposto">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="imposto_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12  p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Comissão de Vendas"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="comissao_vendas">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="comissao_vendas_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Bonificação Projetista Interno"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="bonificacao_projeto_interno">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="bonificacao_projeto_interno_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Bonificação Orçamento"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="bonificacao_orcamento">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="bonificacao_orcamento_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Bonificação Gerente de Produção"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="bonificacao_gerente_producao">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="bonificacao_gerente_producao_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Bonificação Produção"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="bonificacao_producao">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="bonificacao_producao_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Bonificação Detalhamento"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="bonificacao_detalhamento">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="bonificacao_detalhamento_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field  class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right lucro"
                    placeholder="Coeficiente de Margem"
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="coeficiente_margem">

                    <mat-error>
                      Obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right perda-important"
                    placeholder="Total Estande"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="total_estande">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="total_estande_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
              <mat-form-field class="col-md-10">
                <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Diversos | Operacional"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="diversos_operacional">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="diversos_operacional_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
              <mat-form-field class="col-md-10">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="Frete | Logística"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  formControlName="frete_logistica">
              </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="frete_logistica_meta_porcentagem"
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
                <span matSuffix>%</span>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Opcional - Equipamento Audio Visual"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="opcional_equipamento_audio_visual">
                </mat-form-field>
            </div> -->
            <!-- <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Total geral estande"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="total_geral_estande">
                </mat-form-field>
            </div> -->
            <!-- <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Líquido Think"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="liquido_think">
                </mat-form-field>
            </div> -->
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Margem de lucro"
                    formControlName="margem_lucro">
                    <span class="mat-suffix" matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
                <mat-form-field class="col-md-10">
                  <input
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="M² para Venda Stand"
                    currencyMask
                    (keypress)="allowOnlyNumbers($event)"
                    formControlName="m2_venda_stand">
                </mat-form-field>
                <mat-form-field class="col-md-2">
                  <input
                    matInput
                    formControlName="m2_venda_stand_meta_porcentagem"
                    (keypress)="allowOnlyNumbers($event)"
                    type="text"
                    class="text-right">
                  <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0">
              <mat-form-field class="col-md-10">
                <input
                  matInput
                  type="text"
                  class="text-right"
                  placeholder="M² para Venda Stand com Logística e Equipamentos"
                  currencyMask
                  (keypress)="allowOnlyNumbers($event)"
                  formControlName="m2_venda_stand_logistica_equipamentos">
              </mat-form-field>
              <mat-form-field class="col-md-2">
                <input
                  matInput
                  formControlName="m2_venda_stand_logistica_equipamentos_meta_porcentagem"
                  (keypress)="allowOnlyNumbers($event)"
                  type="text"
                  class="text-right">
                <span matSuffix>%</span>
              </mat-form-field>
          </div>
          </div>
        </mat-card>
        <div class="orcamento-valores">
            <div class="orcamento-valor mt-4">
                <div class="orcamento-valores-header d-flex justify-content-between">
                    <h3 class="orcamento-valor-titulo">Orçado</h3>
                    <!-- <h3 class="orcamento-valor-data">Hoje</h3> -->
                </div>
                <div>
                    <h2 class="lucro">{{ budgetForm.controls.budget_value_visibily.value ? (budgetForm.controls.budget_value.value | currency: 'BRL' ) : 'R$ __________'}}
                      <mat-icon 
                        (click)="toogleVisibilty(budgetForm.controls.budget_value_visibily)" 
                        class="extrato-icon cursor-pointer">
                        {{ budgetForm.controls.budget_value_visibily.value ? 'visibility_off' : 'visibility' }}
                      </mat-icon>
                    </h2>
                </div>
                <div class="d-flex align-items-center cursor-pointer">
                  <span>Ver extrato</span>
                  <mat-icon class="extrato-icon">chevron_right</mat-icon>
                </div>
            </div>
            <div class="orcamento-valor">
              <div class="orcamento-valores-header d-flex justify-content-between">
                  <h3 class="orcamento-valor-titulo">Despesas</h3>
                  <!-- <h3 class="orcamento-valor-data">Hoje</h3> -->
              </div>
              <div>
                  <h2 class="perda">{{ budgetForm.controls.custo_total_visibily.value ? (budgetForm.controls.custo_total.value | currency: 'BRL' ) : 'R$ __________'}}
                    <mat-icon 
                      (click)="toogleVisibilty(budgetForm.controls.custo_total_visibily)" 
                      class="extrato-icon cursor-pointer">
                      {{ budgetForm.controls.custo_total_visibily.value ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                  </h2>
              </div>
              <div class="d-flex align-items-center cursor-pointer">
                <span>Ver extrato</span>
                <mat-icon class="extrato-icon">chevron_right</mat-icon>
              </div>
          </div>
          <div class="orcamento-valor">
              <div class="orcamento-valores-header d-flex justify-content-between">
                  <h3 class="orcamento-valor-titulo">Total Geral Stand</h3>
                  <!-- <h3 class="orcamento-valor-data">Hoje</h3> -->
              </div>
              <div>
                  <h2 class="perda">{{ budgetForm.controls.total_geral_estande_visibily.value ? (budgetForm.controls.total_geral_estande.value | currency: 'BRL' ) : 'R$ __________'}}
                    <mat-icon 
                      (click)="toogleVisibilty(budgetForm.controls.total_geral_estande_visibily)" 
                      class="extrato-icon cursor-pointer">
                      {{ budgetForm.controls.total_geral_estande_visibily.value ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                  </h2>
              </div>
              <div class="d-flex align-items-center cursor-pointer">
                <span>Ver extrato</span>
                <mat-icon class="extrato-icon">chevron_right</mat-icon>
              </div>
          </div>
          <div class="orcamento-valor">
              <div class="orcamento-valores-header d-flex justify-content-between">
                  <h3 class="orcamento-valor-titulo">Liquído</h3>
                  <!-- <h3 class="orcamento-valor-data">Hoje</h3> -->
              </div>
              <div>
                  <h2 class="neutro">{{ budgetForm.controls.liquido_think_visibily.value ? (budgetForm.controls.liquido_think.value | currency: 'BRL' ) : 'R$ __________'}}
                    <mat-icon 
                      (click)="toogleVisibilty(budgetForm.controls.liquido_think_visibily)" 
                      class="extrato-icon cursor-pointer">
                      {{ budgetForm.controls.liquido_think_visibily.value ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                  </h2>
              </div>
              <div class="d-flex align-items-center cursor-pointer">
                <span>Ver extrato</span>
                <mat-icon class="extrato-icon">chevron_right</mat-icon>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <button (click)="sendValues(budgetForm)" class="cb-button" color="primary" mat-raised-button>ENVIAR</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!-- <mat-accordion>
  <mat-expansion-panel *ngFor="let budgetForm  of budgetForms; let i = index" [expanded]="i == expandedIndex">
    <mat-expansion-panel-header>

        <mat-panel-title>
          <p class="lead d-flex align-items-baseline">
            <span>{{ taskService.budgetDisplay(sortedTasks[i]) }}</span>
            <br>
            <span *ngIf="sortedTasks[i]?.project_files?.length > 0" class="lead subtitle ml-2"> {{ getLastPersonWhoModified(i) }} - {{ getLastPersonWhoModifiedDate(i) | date: 'dd/MM/yyyy HH:mm' }}</span>
          </p>
        </mat-panel-title>

    </mat-expansion-panel-header>

    
    <hr class="hr mt-0">
    
    <form [formGroup]="budgetForm" autocomplete="off">
      <mat-card>
      
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="col-md-6 d-flex justify-content-start p-0">
              <div class="col-md-3 d-flex flex-column justify-content-between p-0 mr-4">
                <label class="comitions">Comissões:</label>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Outros (8%)"
                    formControlName="orders_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 p-0 mr-4">
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Atendimento (8%)"
                    formControlName="attendance_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Criação (3%)"
                    formControlName="creation_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field>
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Pré Produção (1%)"
                    formControlName="pre_production_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 mr-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Produção (1%)"
                    formControlName="production_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Detalham. (0,5%)"
                    formControlName="details_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Orçamento (1%)"
                    formControlName="budget_si_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
            </div>
    
            <div class="col-md-6 d-flex justify-content-end p-0">
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="BV (10%)"
                    formControlName="bv_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Over/Taxas:"
                    formControlName="over_rates_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Desconto:"
                    formControlName="discounts_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Impostos (15,5%)"
                    formControlName="taxes_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Logística:"
                    formControlName="logistics_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Equipamentos:"
                    formControlName="equipment_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
              <div class="col-md-3 border-right p-0 ml-4">
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Custo Total:"
                    formControlName="total_cost_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Lucro Bruto"
                    formControlName="gross_profit_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
                <mat-form-field class="pr-2">
                  <input
                    currencyMask
                    matInput
                    type="text"
                    class="text-right"
                    placeholder="Lucro %"
                    formControlName="profit_value"
                    (keypress)="allowOnlyNumbers($event)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        
        <hr class="hr mb-0">
        <div class="d-flex justify-content-between">
          <div>
            <h3 class="title">Valor Estimado: {{ job.budget_value | currency: 'BRL' }}</h3>
          </div>
          <div>
            <mat-form-field>
              <input
                currencyMask
                matInput 
                placeholder="Valor Orçamento:"
                formControlName="final_value">
            </mat-form-field>
          </div>
        </div>
        <div class="mt-2 d-flex justify-content-end">
          <button (click)="sendValues(budgetForm)" class="cb-button" color="primary" mat-raised-button>ENVIAR</button>
        </div>
      </mat-card>
    </form>
  </mat-expansion-panel>
</mat-accordion> -->



<!-- <form [formGroup]="budgetForm" novalidate autocomplete="off">
  <mat-card>
    <div class="row">
      <div class="col-md-12 text-left">
        <p class="lead">Valor</p>
        <p *ngIf="budget != null" class="lead subtitle">{{ budget?.responsible?.name + ' | ' + (budget.updated_at | date: 'dd/MM/yyyy HH:mm') }}</p>
      </div>
    </div>
    <hr class="divisor">
    <div class="row align-center row-commission">
      <div class="col-md-6">
        <div class="row">
            <mat-form-field class="col-md-6">
              <input currencyMask formControlName="sales_commission_value" matInput placeholder="Comissão de atendimento*">
            </mat-form-field>
        </div>
      </div>
      <div *ngIf="total > 0" class="col-md-6 text-right">
        <p class="lead total-value">{{ total | currency: 'BRL' }}</p>
        <p class="lead subtitle">Valor total da proposta</p>
      </div>
    </div>
  </mat-card>
  <div *ngIf="isAdmin || isAttendance">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="task_id">
    <input type="hidden" formControlName="tax_aliquot">
    <mat-card>
      <hr class="divisor">
      <div class="row">
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="gross_value" matInput placeholder="Valor bruto*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="bv_value" matInput placeholder="Valor BV*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="equipments_value" matInput placeholder="Equipamentos*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="logistics_value" matInput placeholder="Logística*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="optional_value" matInput placeholder="Opcionais">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="tax_value" matInput placeholder="Impostos">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="others_value" matInput placeholder="Outros">
        </mat-form-field>
        <mat-form-field *ngIf="isAttendance" class="col-md-3">
          <input currencyMask formControlName="discount_value" matInput placeholder="Descontos">
        </mat-form-field>
     
        <mat-form-field *ngIf="!isAttendance" class="col-md-1">
          <input currencyMask [options]="{prefix: ''}" class="text-right" formControlName="markup_aliquot" matInput placeholder="Fator">
          <span class="mat-suffix" matSuffix>%</span>
        </mat-form-field>
        <mat-form-field *ngIf="!isAttendance" class="col-md-2">
          <input currencyMask class="text-right" formControlName="markup_value" matInput placeholder="Markup">
        </mat-form-field>
      </div>
      <mat-card-actions *ngIf="isAdmin" class="col-md-12 text-right">
        <button class="cb-button" *ngIf="typeForm === 'new' || budget == null" color="primary" (click)="save()" mat-raised-button>
          SALVAR
        </button>
        <button class="cb-button" *ngIf="typeForm === 'edit' && budget != null" color="primary" (click)="edit()" mat-raised-button>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
 -->