mat-toolbar {
  display: flex;
}

.menuNotifications {
  max-height: 90%;
}

.menuItemNotification {
  padding: 0 !important;
  height: auto !important;
}

.cbNotificationItem {
  display: flex;
  border-bottom: 1px solid #eee;
}

.cbNotificationItem:last-child {
  border-bottom: none !important;
}

.mat-toolbar {
  background-color: #1c3f60 !important;
  color: white !important;
  padding-left: 0 !important;
  height: 85px;
}

.my-button {
  min-width: 40px;
}

#logoNavBar {
  width: 200px;
  margin-top: -8px;
}

.navbar-icon {
  font-size: 30px;
}

.navbar-img-icon {
  height: 25px;
}

@media screen and (max-width: 500px) {
  #logoNavBar {
    display: none;
  }
}