<mat-toolbar>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  <img *ngIf="!opened" id="logoNavBar" src="/assets/images/logo.png" alt="Think Ideias">
  <div class="flex-spacer"></div>
  <button class="my-button" mat-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <button [routerLink]="['/timecard']" class="my-button" mat-button>
    <mat-icon>query_builder</mat-icon>
  </button>
  <button class="my-button" mat-button>
    <mat-icon
      matBadge="3"
      matBadgeColor="warn">notifications</mat-icon>
  </button>
  <button class="my-button" mat-button>
    <mat-icon>message</mat-icon>
  </button>
  <button [routerLink]="['/login']" class="my-button" mat-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
