<mat-toolbar>
  <img *ngIf="!opened" id="logoNavBar" src="/assets/images/logo/logo-secondaria.png" alt="Think Ideias">
  <div class="flex-spacer"></div>
  <div style="margin-top: -8px;">
    <button class="my-button" mat-button (click)="toggleMenu()">
      <mat-icon class="navbar-icon">menu</mat-icon>
    </button>
    <button [routerLink]="['/timecard']" class="my-button" mat-button>
      <mat-icon class="navbar-icon">query_builder</mat-icon>
    </button>
    <button class="my-button" mat-button [matMenuTriggerFor]="menuNotifications" (menuClosed)="readMessages()">
      <mat-icon
        class="navbar-icon"
        matBadge="{{notReads}}"
        matBadgeHidden="{{notReads == 0}}"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #menuNotifications
      class="menuNotifications">
      <div mat-menu-item
        class="menuItemNotification"
        *ngFor="let userNotification of userNotifications">
        <cb-notification-item
          class="cbNotificationItem"
          [printNew]="true"
          [userNotification]="userNotification">
        </cb-notification-item>
      </div>
    </mat-menu>
    <button [routerLink]="['/employees/profile']" class="my-button" mat-button style="margin-top: 2px;">
      <img style="margin-top: 4px;" class="navbar-img-icon" src="/assets/images/empty-picture.png" alt="">
    </button>
    <button class="my-button" mat-button>
      <mat-icon class="navbar-icon">chat_bubble</mat-icon>
    </button>
    <button [routerLink]="['/login']" class="my-button" mat-button>
      <mat-icon class="navbar-icon">close</mat-icon>
    </button>
  </div>
</mat-toolbar>
