<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content class="cost-sheet-modal-form" mat-dialog-content>

  <div [formGroup]="formGroup" class="row">
    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="numero"  placeholder="Número">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="categoria" placeholder="Categoria">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="favorecido" placeholder="Favorecido" [compareWith]="compareEmployee">
        <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
          {{ fornecedor.nome }}
        </mat-option>
      </mat-select>
      <mat-error>
        Obrigatório
      </mat-error>
      <a [routerLink]="['/providers/new']" target="_blank" class="button-inner-mat-input" mat-button>
        <mat-icon>add</mat-icon>
      </a>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="descricao" placeholder="Descrição">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="quantidade" placeholder="Quantidade">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="unidade" placeholder="Unidade">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="valor_previsto" currencyMask placeholder="Valor Previsto">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="valor_realizado" currencyMask placeholder="Valor Realizado">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="negociacao" placeholder="Negociação"  [compareWith]="compareEmployee">
        <mat-option *ngFor="let negociardor of negociadores" [value]="negociardor">
          {{ negociardor.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_negociacao" [matDatepicker]="dtNegociacao"
         matInput placeholder="Data da Negociação">
      <mat-datepicker-toggle matSuffix [for]="dtNegociacao"></mat-datepicker-toggle>
      <mat-datepicker #dtNegociacao></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="solicitante" placeholder="Solicitante"  [compareWith]="compareEmployee">
        <mat-option *ngFor="let solicitante of solicitantes" [value]="solicitante">
          {{ solicitante.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_solicitante" [matDatepicker]="dtSolicitante"
         matInput placeholder="Data da Solicitação">
      <mat-datepicker-toggle matSuffix [for]="dtSolicitante"></mat-datepicker-toggle>
      <mat-datepicker #dtSolicitante></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="aprovacao" placeholder="Aprovação"  [compareWith]="compareEmployee">
        <mat-option *ngFor="let aprovadore of aprovadores" [value]="aprovadore">
          {{ aprovadore.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_aprovacao" [matDatepicker]="dtAprovacao"
         matInput placeholder="Data da Aprovação">
      <mat-datepicker-toggle matSuffix [for]="dtAprovacao"></mat-datepicker-toggle>
      <mat-datepicker #dtAprovacao></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select  formControlName="aceite" placeholder="Aceite"  [compareWith]="compareEmployee">
        <mat-option *ngFor="let aceitador of aceitadores" [value]="aceitador">
          {{ aceitador.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_aceite" [matDatepicker]="dtAceite"
         matInput placeholder="Data do Aceite">
      <mat-datepicker-toggle matSuffix [for]="dtAceite"></mat-datepicker-toggle>
      <mat-datepicker #dtAceite></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="nf" placeholder="NF">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="condicao" placeholder="Condição">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="pagamento" placeholder="Pagamento">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_vencimento" [matDatepicker]="dtVencimento"
         matInput placeholder="Data de Vencimento">
      <mat-datepicker-toggle matSuffix [for]="dtVencimento"></mat-datepicker-toggle>
      <mat-datepicker #dtVencimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="parcela_atual" placeholder="Parcela Atual">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="total_parcelas" placeholder="Total de Parcelas">
    </mat-form-field> 

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions>