<h1 mat-dialog-title>Mão de obra</h1>
<mat-dialog-content class="cost-sheet-modal-form" mat-dialog-content>

  <div [formGroup]="formGroup" class="row">
    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="numero"  placeholder="Número">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="categoria" placeholder="Categoria">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="favorecido" placeholder="Favorecido" [compareWith]="compareAttendance">
        <mat-option *ngFor="let attendance of attendances" [value]="attendance">
          {{ attendance.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        Obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="descricao" placeholder="Descrição">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="quantidade" placeholder="Quantidade">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="unidade" placeholder="Unidade">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="valor_previsto" currencyMask placeholder="Valor Previsto">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="valor_realizado" currencyMask placeholder="Valor Realizado">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="negociacao" placeholder="Negociação"  [compareWith]="compareAttendance">
        <mat-option *ngFor="let attendance of attendances" [value]="attendance">
          {{ attendance.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="solicitante" placeholder="Solicitante"  [compareWith]="compareAttendance">
        <mat-option *ngFor="let attendance of attendances" [value]="attendance">
          {{ attendance.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select formControlName="aprovacao" placeholder="Aprovação"  [compareWith]="compareAttendance">
        <mat-option *ngFor="let attendance of attendances" [value]="attendance">
          {{ attendance.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <mat-select  formControlName="aceite" placeholder="Aceite"  [compareWith]="compareAttendance">
        <mat-option *ngFor="let attendance of attendances" [value]="attendance">
          {{ attendance.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="nf" placeholder="NF">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="condicao" placeholder="Condição">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="pagamento" placeholder="Pagamento">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input formControlName="data_vencimento" [matDatepicker]="deadlineDatepicker"
         matInput placeholder="Data de Vencimento">
      <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlineDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="parcela_atual" placeholder="Parcela Atual">
    </mat-form-field>

    <mat-form-field class="form-field col-md-3">
      <input matInput formControlName="total_parcelas" placeholder="Total de Parcelas">
    </mat-form-field> 

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions>