cb-item-proposal-form {
  display: block;
}

.title {
  padding: 5px;
  font-weight: bold;
}

.group {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Espaços conforme o nível aumenta
.group .group {
  margin-left: 10px;
}
*/

.items {
  padding-left: 5px;
}

.hidden {
  display: none;
  visibility: hidden;
  height: 0;
}

.child > .group {
  border: none;
  margin-bottom: 0px;
}

p, td {
  color: #333;
  font-size: 14px;
  margin: 0px 5px;
}

.space-down {
  margin-bottom: 50px;
}

table {
  width: 100%;
  margin-bottom: 10px;
}

table, td {
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #e7e7e7;
}

td {
  padding: 5px;
}

.line-title {
  background-color: #edefee;
  cursor: pointer;
}

.line-title .nivel, .line-title .title {
  font-weight: bold;
  padding: 5px;
  text-align: left;
}

.title {
  width: 73%;
  text-transform: uppercase;
} 

.nivel {
  width: 10%;
  text-align: center;
  padding: 0px;
  padding-right: 5px;
}

.qtd {
  width: 12%;
}

.description {
  width: 48%;
  padding-left: 15px;
}

.line-title .description {
  padding-left: 5px;
  text-transform: uppercase;
}

.subtitle-table {
  margin-top: 10px;
  margin-bottom: 0px;
}

.child .child .subtitle-table {
  margin: 0px;
}
