<div class="group" *ngFor="let category of categories; let i = index">
  <table class="title-table" *ngIf="category.items.length == 0">
    <tr class="line-title" (click)="showToggle()">
      <td class="nivel">
        {{ sequence != '' ? sequence + '.' : '' }}{{ i + 1 }}
        <!--
        <div class="icon-content">
          <mat-icon>add</mat-icon>
          <span>{{ sequence != '' ? sequence + '.' : '' }}{{ i + 1 }}</span>
        </div>
        -->
      </td>
      <td class="title">{{ category.description }}</td>
      <td class="value">{{ 'R$ 0,00' }}</td>
    </tr>
  </table>
  <table class="subtitle-table" *ngIf="category.items.length > 0">
    <tr class="line-title">
      <td class="nivel">{{ sequence != '' ? sequence + '.' : '' }}{{ i + 1 }}</td>
      <td class="description">{{ category.description }}</td>
      <td class="un">unidade</td>
      <td class="qtd">quantidade</td>
      <td class="value">valor</td>
      <td class="total">total</td>
    </tr>
    <tr *ngFor="let item of category.items; let y = index">
      <td class="nivel">
        <mat-checkbox></mat-checkbox>
      </td>
      <td class="description">{{ item.name }}</td>
      <td class="un">&nbsp;</td>
      <td class="qtd">&nbsp;</td>
      <td class="value">&nbsp;</td>
      <td class="total">&nbsp;</td>
    </tr>
  </table>
  <cb-item-proposal-form [class.hidden]="!show && sequence.length == 0"
    class="child" [categories]="category.item_categories"
    [sequence]="(sequence != '' ? sequence + '.' : '') + (i + 1)">
  </cb-item-proposal-form>
</div>
