.mat-column-name {
    width: 32%;
}
.mat-column-position {
    width: 30%;
}

.mat-column-department {
    width: 30%;
}

.mat-column-action {
    width: 8%;
}

.updated-info-employee {
  font-size: 12px;
}

.deleted {
  opacity: 0.5 !important;
}

.filter-grid .row .col-md-12 {
  display: flex;
  flex-wrap: wrap;
}
