<div class="col-md-12" id="searchForm">
  <mat-card>
    <div *ngIf="briefings?.length > 0">
      <table class="table mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell mat-column-id">ID</div>
          <div class="mat-header-cell mat-column-client">Cliente</div>
          <div class="mat-header-cell mat-column-type">Tipo</div>
          <div class="mat-header-cell mat-column-attendance">Atendimento</div>
          <div class="mat-header-cell mat-column-date">Data</div>
          <div class="mat-header-cell mat-column-status">Status</div>
        </div>
        <div class="mat-row-scroll">
          <div class="mat-row" *ngFor="let briefing of briefings" (click)="selectLine(briefing)">
            <div class="mat-cell mat-column-id">
              {{ briefingService.showId(briefing) }}
            </div>
            <div class="mat-cell mat-column-client">
              {{ briefing.client ? briefing.client.fantasy_name : briefing.not_client }}
            </div>
            <div class="mat-cell mat-column-type">
              {{ briefing.job_type.description }}
            </div>
            <div class="mat-cell mat-column-attendance">
              {{ briefing.attendance.name }}
            </div>
            <div class="mat-cell mat-column-date">
              {{ briefing.created_at | date:'dd/MM/yy' }}
            </div>
            <div class="mat-cell mat-column-status">
              {{ briefing.status.description }}
            </div>
          </div>
        </div>        
      </table>
    </div>
    <div *ngIf="!searching && briefings.length == 0">
      <p class="lead text-center"><small>Nenhum resultado foi encontrado para sua busca :(</small></p>
    </div>
    <div *ngIf="searching && briefings.length == 0">
      <p class="lead text-center"><small>Aguarde, estamos pesquisando...</small></p>
    </div>
  </mat-card>
</div>