.mat-column-id {
    width: 15%;
  }
  
  .mat-column-client {
      width: 25%;
  }
  
  .mat-column-date {
      width: 13%;
  }
  
  .mat-column-type {
      width: 20%;
  }
  
  .mat-column-attendance {
      width: 15%;
  }
  
  .mat-column-status {
      width: 18%;
  }
  
.mat-cell {
    padding: 5px;
    cursor: pointer;
}
  