<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Aprovação:</h6>
            
                <div class="check-in-header-right">
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="project ? 'Versão do Projeto: ' + taskService.jobDisplay(project) : 'Versão do Projeto'"
                        (click)="projectSelect.open()">
                        {{ project ? taskService.jobDisplay(project) : 'Versão do Projeto' }}

                        <mat-select class="select-hidden col-md-3" #projectSelect
                            [(ngModel)]="checkInModel.project">
                            <mat-option *ngFor="let project of projects"
                                [value]="project.id">
                                {{taskService.jobDisplay(project)}}
                            </mat-option>
                        </mat-select>
                    </span>
                    |
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="memorial ? 'Memorial: ' + taskService.jobDisplay(memorial) : 'Memorial'"
                        (click)="memorialSelect.open()">
                        {{ memorial ? taskService.jobDisplay(memorial) : 'Memorial' }}

                        <mat-select class="select-hidden col-md-3" #memorialSelect
                            [(ngModel)]="checkInModel.memorial">
                            <mat-option *ngFor="let memorial of memorials"
                                [value]="memorial.id">
                                {{taskService.jobDisplay(memorial)}}
                            </mat-option>
                        </mat-select>
                    </span>
                    |
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="budget ? 'Orçamento: ' + taskService.jobDisplay(budget) : 'Orçamento'"
                        (click)="budgetSelect.open()">
                        {{ budget ? taskService.jobDisplay(budget) : 'Orçamento' }}

                        <mat-select class="select-hidden col-md-3" #budgetSelect
                            [(ngModel)]="checkInModel.budget">
                            <mat-option *ngFor="let budget of budgets"
                                [value]="budget.id">
                                {{taskService.jobDisplay(budget)}}
                            </mat-option>
                        </mat-select>
                    </span>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">
            <div class="check-in-grid-left aprovacao">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="checkInModel.approval"
                            (click)="validateAlertDateApproval($event)"
                            (ngModelChange)="updateAlertDateApproval()">
                            APROVAÇÃO
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ job && job.attendance && job.attendance.id ? getEmployeeName(job.attendance.id) : '' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.approval_date| date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="checkInModel.accept_proposal"
                            (click)="validateAlertDateAcceptProposal($event)"
                            (ngModelChange)="updateAlertDateAcceptProposal()">
                            ACEITE PROPOSTA
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ getEmployeeName(checkInModel.accept_proposal_employee_id || 11) }}
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.accept_proposal_date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="checkInModel.accept_production"
                            (click)="validateAlertDateAcceptProduction($event)"
                            (ngModelChange)="updateAlertDateAcceptProduction()">
                            ACEITE PRODUÇÃO
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ getEmployeeName(checkInModel.accept_production_employee_id || 20) }}
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.accept_production_date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="checkInModel.board_approval"
                            (click)="validateAlertDateBoardApproval($event)"
                            (ngModelChange)="updateAlertDateBoardApproval()">
                            ACEITE DIRETORIA
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ getEmployeeName(checkInModel.board_approval_employee_id || 1) }}
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.board_approval_date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right organizadora-promotora">

                <div class="organizadora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ getEmployeeName(checkInModel.organization_changed_by) }}
                        </div>

                        <div class="check-in-cell">
                            {{ checkInModel.organization_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            ORGANIZADORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <a class="icon-button" mat-button (click)="openModalOrganizationForm()">
                                <mat-icon>add</mat-icon>
                            </a>

                            <span class="position-relative text-ellipsis cursor-pointer"
                                [title]="organization.name || 'Organizadora'"
                                (click)="organizationMatSelect.open()">
                                {{ organization.name || 'Selecionar organizadora' }}

                                <mat-select class="select-hidden col-md-3" #organizationMatSelect
                                    [(ngModel)]="checkInModel.organization_id"
                                    (ngModelChange)="updateOrganization()">
                                    <mat-option *ngFor="let organization of organizations"
                                        [value]="organization.id"
                                        [title]="organization.name">
                                        {{ organization.name }}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.organization_login"
                                (ngModelChange)="updateOrganization()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.organization_password"
                                (ngModelChange)="updateOrganization()"
                            />
                        </div>
                    </div>
                </div>

                <div class="promotora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ getEmployeeName(checkInModel.promoter_changed_by) }}
                        </div>

                        <div class="check-in-cell">
                            {{ checkInModel.promoter_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            PROMOTORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_name"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_login"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_password"
                                (change)="updatePromoter()"
                            />
                        </div>
                    </div>
                </div>

            </div>

            <div class="check-in-grid-left area">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        ÁREA (M2)
                    </div>

                    <div class="check-in-cell">
                        CONFIGURAÇÃO
                    </div>

                    <div class="check-in-cell">
                        LOCALIZAÇÃO
                    </div>
                    
                    <div class="check-in-cell">
                        PAVILHÃO
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.area" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.config" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.location" />
                    </div>
                    
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.pavilion" />
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right evento">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        {{ getEmployeeName(checkInModel.event_changed_by) }}
                    </div>

                    <div class="check-in-cell">
                        {{ checkInModel.event_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                    </div>

                    <div class="check-in-cell">
                        LOCAL
                    </div>

                    <div class="check-in-cell">
                        MONTAGEM
                    </div>

                    <div class="check-in-cell">
                        EVENTO
                    </div>

                    <div class="check-in-cell">
                        DESMONTAGEM 
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <a class="icon-button" mat-button target="_blank"
                            [routerLink]="['/events/new']">
                            <mat-icon>add</mat-icon>
                        </a>

                        <span class="position-relative text-ellipsis cursor-pointer"
                            [title]="place ? place.name : 'Evento'"
                            (click)="eventMatSelect.open(); loadEvents()">
                            {{ place && place.name ? place.name : 'Selecionar local do evento' }}

                            <mat-select class="select-hidden col-md-3" #eventMatSelect
                                [(ngModel)]="checkInModel.event_id"
                                (ngModelChange)="updateEvent()">
                                <mat-option *ngFor="let event of events; trackBy: trackByEvent"
                                    [value]="event.id">
                                    {{ event.place.name }}
                                </mat-option>
                            </mat-select>
                        </span>
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date_mounting | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date_unmounting | date: 'dd MMM yy') || '-' }}
                    </div>
                </div>

            </div>

        </div>
        
        <cb-check-in-obs [(ngModel)]="checkInModel.approval_note" name="approval_note" id="approval_note"></cb-check-in-obs>

    </mat-expansion-panel>

</mat-accordion>