<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Aprovação:</h6>
            
                <div class="check-in-header-right">
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="project ? 'Versão do Projeto: ' + taskService.jobDisplay(project) : 'Versão do Projeto'"
                        (click)="projectSelect.open()">
                        {{ project ? taskService.jobDisplay(project) : 'Versão do Projeto' }}

                        <mat-select class="select-hidden col-md-3" #projectSelect
                            [(ngModel)]="project"
                            (ngModelChange)="updateCheckInModel()">
                            <mat-option *ngFor="let project of projects"
                                [value]="project"
                                (click)="updateProject(project)">
                                {{taskService.jobDisplay(project)}}
                            </mat-option>
                        </mat-select>
                    </span>
                    |
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="memorial ? 'Memorial: ' + taskService.jobDisplay(memorial) : 'Memorial'"
                        (click)="memorialSelect.open()">
                        {{ memorial ? taskService.jobDisplay(memorial) : 'Memorial' }}

                        <mat-select class="select-hidden col-md-3" #memorialSelect
                            [(ngModel)]="memorial"
                            (ngModelChange)="updateCheckInModel()">
                            <mat-option *ngFor="let memorial of memorials"
                                [value]="memorial"
                                (click)="updateMemorial(memorial)">
                                {{taskService.jobDisplay(memorial)}}
                            </mat-option>
                        </mat-select>
                    </span>
                    |
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="budget ? 'Orçamento: ' + taskService.jobDisplay(budget) : 'Orçamento'"
                        (click)="budgetSelect.open()">
                        {{ budget ? taskService.jobDisplay(budget) : 'Orçamento' }}

                        <mat-select class="select-hidden col-md-3" #budgetSelect
                            [(ngModel)]="budget"
                            (ngModelChange)="updateCheckInModel()">
                            <mat-option *ngFor="let budget of budgets"
                                [value]="budget"
                                (click)="updateBudget(budget)">
                                {{taskService.jobDisplay(budget)}}
                            </mat-option>
                        </mat-select>
                    </span>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">
            <div class="check-in-grid-left aprovacao">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="approval.marked"
                            (ngModelChange)="updateAlertDate(approval)">
                            APROVAÇÃO
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ approval.name || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (approval.date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="acceptProposal.marked"
                            (ngModelChange)="updateAlertDate(acceptProposal)">
                            ACEITE PROPOSTA
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ acceptProposal.name || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (acceptProposal.date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="acceptProduction.marked"
                            (ngModelChange)="updateAlertDate(acceptProduction)">
                            ACEITE PRODUÇÃO
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ acceptProduction.name || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (acceptProduction.date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <mat-checkbox
                            [(ngModel)]="boardApproval.marked"
                            (ngModelChange)="updateAlertDate(boardApproval)">
                            ACEITE DIRETORIA
                        </mat-checkbox>
                    </div>

                    <div class="check-in-cell">
                        {{ boardApproval.name || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (boardApproval.date | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'') || '-' }}
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right organizadora-promotora">

                <div class="organizadora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ organization.changed_by }}
                        </div>

                        <div class="check-in-cell">
                            {{ organization.changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            ORGANIZADORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <a class="icon-button" mat-button (click)="openModalOrganizationForm()">
                                <mat-icon>add</mat-icon>
                            </a>

                            <span class="position-relative text-ellipsis cursor-pointer"
                                [style.minWidth.px]="100"
                                [title]="organization.name || 'Organizadora'"
                                (click)="organizationMatSelect.open()">
                                {{ organization.name || '-' }}

                                <mat-select class="select-hidden col-md-3" #organizationMatSelect>
                                    <mat-option *ngFor="let organization of organizations"
                                        [value]="organization"
                                        [title]="organization.name"
                                        (click)="selectOrganization(organization)">
                                        {{ organization.name }}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </div>

                        <div class="check-in-cell">
                            <input type="text" [(ngModel)]="organization.login" />
                        </div>

                        <div class="check-in-cell">
                            <input type="text" [(ngModel)]="organization.password" />
                        </div>
                    </div>
                </div>

                <div class="promotora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ checkInModel.promoter_changed_by }}
                        </div>

                        <div class="check-in-cell">
                            {{ checkInModel.promoter_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            PROMOTORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_name"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_login"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_password"
                                (change)="updatePromoter()"
                            />
                        </div>
                    </div>
                </div>

            </div>

            <div class="check-in-grid-left area">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        ÁREA (M2)
                    </div>

                    <div class="check-in-cell">
                        CONFIGURAÇÃO
                    </div>

                    <div class="check-in-cell">
                        LOCALIZAÇÃO
                    </div>
                    
                    <div class="check-in-cell">
                        PAVILHÃO
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.area" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.config" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.location" />
                    </div>
                    
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.pavilion" />
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right evento">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        {{ event.changed_by }}
                    </div>

                    <div class="check-in-cell">
                        {{ event.changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                    </div>

                    <div class="check-in-cell">
                        LOCAL
                    </div>

                    <div class="check-in-cell">
                        MONTAGEM
                    </div>

                    <div class="check-in-cell">
                        EVENTO
                    </div>

                    <div class="check-in-cell">
                        DESMONTAGEM 
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <a class="icon-button" mat-button target="_blank"
                            [routerLink]="['/events/new']">
                            <mat-icon>add</mat-icon>
                        </a>

                        <span class="position-relative text-ellipsis cursor-pointer"
                            [style.minWidth.px]="100"
                            [title]="event.place_name || 'Evento'"
                            (click)="eventMatSelect.open(); loadEvents()">
                            {{ event.place_name || '-' }}

                            <mat-select class="select-hidden col-md-3" #eventMatSelect>
                                <mat-option *ngFor="let event of events; trackBy: trackByEvent"
                                    [value]="event"
                                    (click)="selectEvent(event)">
                                    {{ event.place.name }}
                                </mat-option>
                            </mat-select>
                        </span>
                    </div>

                    <div class="check-in-cell">
                        {{ (event.installation_date | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (event.event_date | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (event.dismantling_date | date: 'dd MMM yy') || '-' }}
                    </div>
                </div>

            </div>

        </div>
        
        <cb-check-in-obs [(ngModel)]="checkInModel.approval_note" name="approval_note" id="approval_note"></cb-check-in-obs>

    </mat-expansion-panel>

</mat-accordion>