<div class="col-md-12">
  <form [formGroup]="eventForm" novalidate autocomplete="off">
    <mat-card-title *ngIf="withHeader">
      <p class="lead">Dados do evento</p>
    </mat-card-title>
    <mat-card>
      <div class="row">
        <mat-form-field class="col-md-6">
          <input ucWords formControlName="description" matInput placeholder="Descrição*">
          <mat-error>
            Obrigatório, entre 3 e 100 caract.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input ucWords formControlName="edition" matInput placeholder="Edição">
          <mat-error>
            Até 20 caract.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input matInput formControlName="place" [matAutocomplete]="autocompletePlace" placeholder="Local*" autocomplete="off">
          <mat-error>
            Obrigatório
          </mat-error>
          <a [routerLink]="['/places/new']" target="_blank" class="button-inner-mat-input" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </mat-form-field>
        <mat-autocomplete #autocompletePlace="matAutocomplete" [displayWith]="displayPlace">
          <mat-option *ngFor="let place of places" [value]="place">
            {{ place.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field class="col-md-12">
          <textarea formControlName="note" matInput placeholder="Informações adicionais"></textarea>
          <mat-error>
            Entre 3 e 1000 caract.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input [matDatepicker]="iniDatepicker" formControlName="ini_date" matInput placeholder="Data de início*">
          <mat-datepicker-toggle matSuffix [for]="iniDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #iniDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input [matDatepicker]="finDatepicker" formControlName="fin_date" matInput placeholder="Data final*">
          <mat-datepicker-toggle matSuffix [for]="finDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #finDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input type="time" formControlName="ini_hour" matInput placeholder="Horário de início*">
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input type="time" formControlName="fin_hour" matInput placeholder="Horário final*">
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-form-field>
        <div class="col-md-12">
          <mat-card-actions class="col-md-12 text-right">
            <button class="cb-button" *ngIf="typeForm === 'new'" color="primary" (click)="save(eventForm.value)" mat-raised-button>
              SALVAR
            </button>
            <button class="cb-button" *ngIf="typeForm === 'edit'" color="primary" (click)="edit(eventForm.value, event.id)" mat-raised-button>
              EDITAR
            </button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </form>
</div>
