<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-payment="payment">
        <button (click)="edit(payment)" mat-menu-item>
          <mat-icon>mode_edit</mat-icon> Editar
        </button>

        <button (click)="delete(payment)" mat-menu-item>
          <mat-icon>delete</mat-icon> Remover
        </button>
    </ng-template>
</mat-menu>

<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Valor faturado:</h6>
            
                <div class="check-in-header-right">
                    {{ valorTotalRecebido | currency: 'BRL' }}
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">

            <div class="check-in-grid-left">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        VALOR LÍQUIDO BASE CÁLCULO
                    </div>

                    <div class="check-in-cell">
                        {{ finalValue | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        BV 01
                    </div>

                    <div class="check-in-cell">
                        {{ bv | currency: 'BRL' }}
                    </div>

                    <div class="check-in-cell position-relative">
                        <mat-select class="select-hidden" #personSelect [(ngModel)]="checkInModel.bv_customer_service">
                            <mat-option *ngFor="let person of persons"
                                [value]="person.id">
                                {{ person.name }}
                            </mat-option>
                        </mat-select>
                        
                        <span class="text-ellipsis cursor-pointer" (click)="personSelect.open()">
                            {{ personName || 'Selecionar pessoa' }}
                        </span>

                        <a class="icon-button" style="margin-left: 10px;" mat-button (click)="openModalPerson()">
                            <mat-icon>add</mat-icon>
                        </a>
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        IMPOSTOS
                    </div>

                    <div class="check-in-cell">
                        {{ impostos | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        EQUIPAMENTOS
                    </div>

                    <div class="check-in-cell">
                        {{ equipamentos | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        LOGÍSTICA
                    </div>

                    <div class="check-in-cell">
                        {{ logistica | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CREDENCIAIS/TAXAS
                    </div>

                    <div class="check-in-cell">
                        {{ credenciaisTaxas | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        SEGURO
                    </div>

                    <div class="check-in-cell">
                        {{ seguro | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        OUTROS
                    </div>

                    <div class="check-in-cell">
                        {{ outros | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        DESCONTO
                    </div>

                    <div class="check-in-cell">
                        {{ desconto | currency: 'BRL' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        EXTRAS
                    </div>

                    <div class="check-in-cell">
                        {{ valorTotalExtrasRecebido | currency: 'BRL' }}
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        PAGAMENTO
                    </div>

                    <div class="check-in-cell">
                        %
                    </div>

                    <div class="check-in-cell">
                        VALOR
                    </div>

                    <div class="check-in-cell">
                        DATA
                    </div>

                    <div class="check-in-cell">
                        QUITAÇÃO
                    </div>
                </div>

                <div class="content-payments">
                    <div class="payments">
                        <cb-check-in-payment *ngFor="let payment of payments"
                            [matMenuTriggerFor]="menu"
                            [matMenuTriggerData]="{ payment: payment }"
                            [paymentModel]="payment">
                        </cb-check-in-payment>

                        <a class="icon-button" style="margin: 3px 8px;" mat-button
                            (click)="openModalPayment()">
                            <mat-icon>add</mat-icon>
                        </a>
                    </div>
    
                    <!-- <div class="payment-bottom">
                        Aprovado Rodolfo Morales 15 jun 2024 | Desconto/Juros R$ 1.000,00
                    </div> -->
                </div>

            </div>

            <div class="check-in-grid-left total">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        VALOR FINAL CONTRATO
                    </div>

                    <div class="check-in-cell">
                        {{ job.budget_value | currency: 'BRL' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right total">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        VALOR TOTAL RECEBIDO
                    </div>

                    <div class="check-in-cell">
                        {{ valorTotalRecebido | currency: 'BRL' }}
                    </div>
                </div>
            </div>
        </div>

        <cb-check-in-obs name="billing_amount_obs" id="billing_amount_obs"
            [(ngModel)]="checkInModel.billing_amount_obs"
            [borderBottom]="true">
        </cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>