<div class="my-container">
  <h3 class="lead row">
    <div class="col-md-6">
      Cronograma -
      <span class="actualMonth" (click)="monthSelect.open()">{{ month.name }}
        <mat-select class="select-hidden" #monthSelect>
          <mat-option *ngFor="let month of months" (click)="changeMonth(month)">{{month.name}}</mat-option>
        </mat-select>
      </span>
    </div>
    <div class="col-md-6 updated-message">
      <small>{{ updatedMessage }}</small>
    </div>
  </h3>
</div>
<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <mat-card-title class="header-form">
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <mat-input-container class="bar">
          <input #search matInput formControlName="search" placeholder="Qual evento você procura?" autocomplete="off">
        </mat-input-container>
        <div class="buttons">
          <a mat-button (click)="search.focus()">
            <mat-icon>search</mat-icon>
          </a>
          <a mat-button (click)="filter = filter ? false : true">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
          <a [routerLink]="['new']" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-title>
  </form>
  <mat-card class="schedule-card">
    <div>
      <table class="table mat-table schedule-table">
        <div class="mat-header-row">
          <div class="mat-header-cell mat-column-date">Data</div>
          <div class="mat-header-cell mat-column-job">Job</div>
          <div class="mat-header-cell mat-column-type">Tipo</div>
          <div class="mat-header-cell mat-column-client">Cliente</div>
          <div class="mat-header-cell mat-column-agency">Agência</div>
          <div class="mat-header-cell mat-column-event">Evento</div>
          <div class="mat-header-cell mat-column-event-date">Data do evento</div>
          <div class="mat-header-cell mat-column-budget">Verba</div>
          <div class="mat-header-cell mat-column-propo">Proposta</div>
          <div class="mat-header-cell mat-column-area">Área</div>
          <div class="mat-header-cell mat-column-deadline">Deadline</div>
          <div class="mat-header-cell mat-column-attendance">Atend.</div>
          <div class="mat-header-cell mat-column-creation">Respons.</div>
          <div class="mat-header-cell mat-column-stat">Status</div>
          <!--
            <div class="mat-header-cell mat-column-action">Ação</div>
            -->
        </div>
        <div class="mat-row-scroll">
          <div #list class="mat-row line-chrono" *ngFor="let chr of chrono; let i = index" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-date day-chrono day-{{ chr.day }}">
              <div>
                <span>{{ chr.day }}-{{ chr.dayOfWeek?.abbrev }}</span>
                <!--
                <button [disabled]="!permissionVerify('new', job)" class="cb-button add-chrono" (click)="addBriefing(chr.day)">
                  <mat-icon>+</mat-icon>
                </button>
                -->
              </div>
            </div>
            <div class="line-jobs">
              <div class="line-job" [class.signal]="job?.status?.id == 5" *ngFor="let job of chrono[i].jobs" [matMenuTriggerFor]="menu" draggable="true">
                <mat-menu #menu="matMenu">
                  <a *ngIf="job.id == undefined" [routerLink]="['/jobs/new']" mat-menu-item>
                    <mat-icon>add</mat-icon> Adicionar
                  </a>
                  <a [disabled]="!permissionVerify('show', job)" *ngIf="job.id != undefined" [routerLink]="['/jobs/show', job.id]"
                    mat-menu-item>
                    <mat-icon>subject</mat-icon> Visualização
                  </a>
                  <a [disabled]="!permissionVerify('edit', job)" *ngIf="job.id != undefined" [routerLink]="['/jobs/edit', job.id]"
                    mat-menu-item>
                    <mat-icon>mode_edit</mat-icon> Editar
                  </a>
                  <a [disabled]="!permissionVerify('edit', job)" *ngIf="job.id != undefined" (click)="signal(job)"
                    mat-menu-item>
                    <mat-icon>outlined_flag</mat-icon> Sinalizar
                  </a>
                  <button [disabled]="!permissionVerify('delete', job)" *ngIf="job.id != undefined" (click)="delete(job)" mat-menu-item>
                    <mat-icon>delete</mat-icon> Remover
                  </button>
                </mat-menu>
                <div class="mat-cell mat-column-job">
                  {{ jobDisplay(job, chrono[i]) }}
                </div>
                <div class="mat-cell mat-column-type">
                  {{ job.job_type?.description }}
                </div>
                <div class="mat-cell mat-column-client">
                  {{ job.client != null ? job.client.fantasy_name : job.not_client }}
                </div>
                <div class="mat-cell mat-column-agency">
                  {{ job.agency ? job.agency.fantasy_name : '' }}
                </div>
                <div class="mat-cell mat-column-event">
                  {{ job.event }}
                </div>
                <div class="mat-cell mat-column-event-date">
                  &nbsp;
                </div>
                <div class="mat-cell mat-column-budget" *ngIf="job.budget_value != null">
                  {{ job.budget_value | number: '1.2' }}
                </div>
                <div class="mat-cell mat-column-budget" *ngIf="job.budget_value == null">
                  {{ '' }}
                </div>
                <div class="mat-cell mat-column-propo">
                  &nbsp;
                </div>
                <div class="mat-cell mat-column-area">
                  &nbsp;
                </div>
                <div class="mat-cell mat-column-deadline">
                  {{ job?.deadline | date:'dd/MM' }}
                </div>
                <div class="mat-cell mat-column-attendance">
                  {{ job?.attendance?.name }}
                </div>
                <div class="mat-cell mat-column-creation">
                  {{ displayResponsible(job) }}
                </div>
                <div class="mat-cell mat-column-stat">
                  {{ job?.status?.description }}
                </div>
              </div>
            </div>
            <!--
              <div class="mat-cell mat-column-action">
                <mat-menu #menu="matMenu">
                  <a [routerLink]="['/jobs/show', job.id]" mat-menu-item>
                    <mat-icon>subject</mat-icon> Visualização
                  </a>
                  <a [routerLink]="['/jobs/edit', job.id]" mat-menu-item>
                    <mat-icon>mode_edit</mat-icon> Editar
                  </a>
                  <button (click)="delete(job)" mat-menu-item>
                    <mat-icon>delete</mat-icon> Remover
                  </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>menu</mat-icon>
                </button>
              </div>
              -->
          </div>
        </div>
      </table>
    </div>
    <div *ngIf="searching" class="col-md-12 records-not-found">
      <p>
        <small>
          Aguarde...
        </small>
      </p>
    </div>
  </mat-card>
</div>
