.mat-column-date {
  width: 5%;
}
.mat-column-job {
  width: 9%;
}
.mat-column-type {
  width: 8%;
}
.mat-column-event {
  width: 7%;
}
.mat-column-event-date {
  width: 7%;
}
.mat-column-client {
  width: 10%;
}
.mat-column-agency {
  width: 8%;
}
.mat-column-budget {
  width: 7%;
}
.mat-column-deadline {
  width: 8%;
}
.mat-column-attendance {
  width: 8%;
}
.mat-column-creation {
  width: 9%;
}
.mat-column-propo {
  width: 9%;
}
.mat-column-stat {
  width: 7%;
}
.mat-column-area {
  width: 5%;
}

.add-chrono {
  padding: 0;
  margin-top: 15px;
}

.schedule-card {
  padding: 0;
  background: transparent;
}

.schedule-table {
  margin-bottom: 0;
  background: transparent;
}

.line-chrono {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.line-chrono:first-child {
  border-top: 0 !important;
}

.line-briefings {
  width: 100%;
}

.line-briefing {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.line-briefing:last-child {
  border-bottom: 0;
}

.day-chrono {
  align-self: stretch;
  border-right: 1px solid #ccc;
  justify-content: center;
  display: flex;
  align-items: center;
}

.schedule-table .mat-cell, .schedule-table .mat-header-cell {
  font-size: 12px;
  text-align: center;
  min-height: 40px;
  padding: 3px;
}

.schedule-table .mat-header-cell {
  font-size: 11px;
  background-color: white;
}

.schedule-table::-webkit-scrollbar {
    border-radius: 9px;
    width: 8px;
    height: 12px;
}

.schedule-table::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: rgba(231,230,239,0.5);
}
