<mat-card-title>
  <p class="lead">Stand</p>
</mat-card-title>
<mat-card [formGroup]="briefingForm">
  <div [formGroup]="standForm" class="row">
    <input type="hidden" formControlName="id">
    <mat-select class="col-md-3" placeholder="Configuração*" formControlName="configuration" [compareWith]="compareConfiguration">
      <mat-option *ngFor="let configuration of configurations" [value]="configuration">
        {{ configuration.description }}
      </mat-option>
    </mat-select>
    <mat-input-container class="col-md-3">
      <input formControlName="place" matInput placeholder="Local*">
      <mat-error>
        Obrigatório, entre 3 e 150 caract.
      </mat-error>
    </mat-input-container>

    <mat-input-container class="col-md-3" *ngIf="typeForm != 'show'">
      <input #planFile formControlName="plan" readonly matInput placeholder="Planta do Evento/Local*" (click)="filePlanFile.click()">
      <input #filePlanFile type="file" accept="image/jpeg,application/pdf" (change)="uploadFile('plan', filePlanFile)" style="display:none;" />
      <mat-error>
        Obrigatório
      </mat-error>
    </mat-input-container>
    <mat-input-container class="col-md-3" *ngIf="typeForm == 'show'" (click)="previewFile(briefing, 'stand', 'plan')">
      <input formControlName="plan" matInput placeholder="Planta do Evento/Local*">
    </mat-input-container>

    <mat-input-container class="col-md-3" *ngIf="typeForm != 'show'">
      <input #regulationFile formControlName="regulation" readonly matInput placeholder="Regulamento*" (click)="fileRegulationFile.click()">
      <input #fileRegulationFile type="file" accept="image/jpeg,application/pdf" (change)="uploadFile('regulation', fileRegulationFile)" style="display:none;" />
      <mat-error>
        Obrigatório
      </mat-error>
    </mat-input-container>
    <mat-input-container class="col-md-3" *ngIf="typeForm == 'show'" (click)="previewFile(briefing, 'stand', 'regulation')">
      <input formControlName="regulation" matInput placeholder="Regulamento*">
    </mat-input-container>

    <mat-select class="col-md-3" placeholder="Coluna*" formControlName="column" [compareWith]="compareColumn">
      <mat-option *ngFor="let column of columns" [value]="column">
        {{ column.description }}
      </mat-option>
    </mat-select>
    <mat-input-container class="col-md-3">
      <input formControlName="street_number" matInput placeholder="Rua e número*">
      <mat-error>
        Obrigatório, mínimo 2 caract.
      </mat-error>
    </mat-input-container>
    <mat-select class="col-md-3" placeholder="Gênero*" formControlName="genre" [compareWith]="compareGenre">
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre.description }}
      </mat-option>
    </mat-select>
    <mat-input-container class="col-md-3">
      <input formControlName="note" matInput placeholder="Observações">
      <mat-error>
        Entre 3 e 5000 caract.
      </mat-error>
    </mat-input-container>
    <mat-input-container class="col-md-6">
      <input formControlName="closed_area_percent" matInput placeholder="Área fechada*">
      <mat-error>
        Obrigatório
      </mat-error>
    </mat-input-container>
    <mat-input-container class="col-md-6">
      <input formControlName="opened_area_percent" matInput readonly placeholder="Área aberta*">
      <mat-error>
        Obrigatório, preencha área fechada
      </mat-error>
    </mat-input-container>
    <div class="col-md-4">
      <div *ngFor="let closed_item of closedItems; let i = index"
          class="stand-item stand-closed-item" [class.onlyShow]="typeForm === 'show'" (mouseover)="showClosedStandItem(i)" (mouseleave)="hiddenClosedStandItem(i)">
        <div class="title">
          <label>{{closed_item.title}}</label>
          <span class="square">{{closed_item.quantity}}</span>
          <button [@standItemAnimation]="closedItemsStates[i].state"
          type="button" class="edit-stand_item" (click)="editClosedItem(i, closed_item)" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button [@standItemAnimation]="closedItemsStates[i].state"
          type="button" class="delete-stand_item" (click)="deleteClosedItem(i)" mat-button>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="description">
          <p>
            <small>{{closed_item.description}}</small>
          </p>
        </div>
      </div>
      <div *ngIf="typeForm != 'show'" class="text-right">
        <button type="button" class="add-stand_item" (click)="addClosedItem()" mat-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      <div *ngFor="let opened_item of openedItems; let i = index"
          class="stand-item stand-opened-item" [class.onlyShow]="typeForm === 'show'" (mouseover)="showOpenedStandItem(i)" (mouseleave)="hiddenOpenedStandItem(i)">
        <div class="title">
          <span class="square">{{opened_item.quantity}}</span>
          <label>{{opened_item.title}}</label>
          <button [@standItemAnimation]="openedItemsStates[i].state"
          type="button" class="edit-stand_item" (click)="editOpenedItem(i, opened_item)" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button [@standItemAnimation]="openedItemsStates[i].state"
          type="button" class="delete-stand_item" (click)="deleteOpenedItem(i)" mat-button>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="description">
          <p>
            <small>{{opened_item.description}}</small>
          </p>
        </div>
      </div>
      <div *ngIf="typeForm != 'show'" class="text-left">
        <button type="button" class="add-stand_item" (click)="addOpenedItem()" mat-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <mat-input-container class="col-md-6">
      <input formControlName="note_closed_area" matInput placeholder="Observações">
      <mat-error>
        Entre 3 e 5000 caract.
      </mat-error>
    </mat-input-container>
    <mat-input-container class="col-md-6">
      <input formControlName="note_opened_area" matInput placeholder="Observações">
      <mat-error>
        Entre 3 e 5000 caract.
      </mat-error>
    </mat-input-container>
  </div>
</mat-card>
