#login-container {
    animation: bg 5s linear infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
}

#logo-container {
    margin-bottom: 1rem;
}

#logo-container img {
    margin-left: -1rem;
    max-width: 100%;
}

#login-container .cb-button {
    width: 100%;
    margin-top: 39px;
}

.cb-button {
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    color: #AAA;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    border-radius: 0;
    padding: 3px 16px;
}

.cb-button:focus {
    outline: none;
}

.alert-message {
    color: white;
    font-size: 12px;
}

.alert-message p {
    padding: 10px;
}

#login-content ::ng-deep .mat-form-field-infix {
    font-size: 16px;
}

/* Cor de fundo do autocomplete */
::ng-deep input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #e5f3f2 inset;
}

/* Cor do texto do autocomplete */
/* ::ng-deep  input:-webkit-autofill {
    -webkit-text-fill-color: blue !important;
} */