#container-box {
    height: calc(100% - 64px);
    padding: 5px 15px;
}

#container-box > .row,
#container-box > .row > .col-md-8,
#container-box > .row > .col-md-4 {
    height: 100%;
    overflow: auto;
}

#container-box > .row > .col-md-8 {
    padding-bottom: 250px;
}

#timeline-container {
    width: 100%;
    max-width: 250px;
}

#all-container {
    max-width: calc(100% - 250px);
    width: 100%;
    flex: 100%;
}



