<div class="my-container">
    <h3 class="title">Memórias</h3>
</div>

<div class="col-md-12">
  <mat-card style="min-height: 25rem;" class="container-fluid d-flex flex-column">
    <div *ngIf="true">
      <div class="mt-4" *ngFor="let memoryGroup of getObjectKeys(memories); let i = index">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th class="text-center mat-header-cell"></th>
                <th class="text-left mat-header-cell"></th>
                <th class="text-left mat-header-cell"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td class="text-left"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card>
</div>