<div id="dataTableShow" class="col-md-12" *ngIf="provider">
  <md-card-title>
    <p class="lead">Dados do fornecedor</p>
  </md-card-title>
  <md-card>
    <dl>
      <dt>Nome</dt>
      <dd>{{provider.name}}</dd>
      <dt>Nome fantasia</dt>
      <dd>{{provider.fantasy_name}}</dd>
      <dt>CNPJ</dt>
      <dd>{{provider.cnpj}}</dd>
      <dt>Inscrição estadual</dt>
      <dd>{{provider.ie}}</dd>
      <dt>Telefone principal</dt>
      <dd>{{provider.mainphone}}</dd>
      <dt>Telefone secundário</dt>
      <dd>{{provider.secundaryphone}}</dd>
      <dt>Site</dt>
      <dd>{{provider.site}}</dd>
      <dt>Score</dt>
      <dd>
        <cb-stars [readonly]="true" [rate]="provider.rate"></cb-stars>
      </dd>
      <dt>Atendimento</dt>
      <dd>{{provider.employee.name}}</dd>
    </dl>
  </md-card>
  <div *ngFor="let contact of provider.contacts; let i = index">
    <md-card-title>
      <p class="lead">Contato {{i+1}}</p>
    </md-card-title>
    <md-card>
      <dl>
        <dt>Nome</dt>
        <dd>{{contact.name}}</dd>
        <dt>E-mail</dt>
        <dd>{{contact.email}}</dd>
        <dt>Departamento</dt>
        <dd>{{contact.department}}</dd>
        <dt>Celular</dt>
        <dd>{{contact.cellphone}}</dd>
      </dl>
    </md-card>
  </div>
  <div *ngFor="let account of provider.accounts; let i = index">
    <md-card-title>
      <p class="lead">Conta bancária {{i+1}}</p>
    </md-card-title>
    <md-card>
      <dl>
        <dt>Favorecido</dt>
        <dd>{{account.favored}}</dd>
        <dt>Agência</dt>
        <dd>{{account.agency}}</dd>
        <dt>Conta</dt>
        <dd>{{account.account_number}}</dd>
        <dt>Tipo de conta</dt>
        <dd>{{account.bank_account_type.description}}</dd>
        <dt>Banco</dt>
        <dd>{{account.bank.name}}</dd>
      </dl>
    </md-card>
  </div>
  <md-card-title>
    <p class="lead">Endereço</p>
  </md-card-title>
  <md-card>
    <dl>
      <dt>Logradouro</dt>
      <dd>{{provider.street}}</dd>
      <dt>Número</dt>
      <dd>{{provider.number}}</dd>
      <dt>Bairro</dt>
      <dd>{{provider.neighborhood}}</dd>
      <dt>Complemento</dt>
      <dd>{{provider.complement}}</dd>
      <dt>Cidade</dt>
      <dd>{{provider.city.name}}</dd>
      <dt>CEP</dt>
      <dd>{{provider.cep}}</dd>
    </dl>
  </md-card>
  <md-card-title>
    <p class="lead">Projetos relacionados</p>
  </md-card-title>
  <md-card></md-card>
</div>
