p {
    font-size: 14px;
}

.mat-column-id {
  width: 12%;
}

.mat-column-client {
    width: 13%;
}

.mat-column-event {
    width: 12%;
}

.mat-column-date {
    width: 12%;
}

.mat-column-type {
    width: 13%;
}

.mat-column-attendance {
    width: 15%;
}

.mat-column-creation {
  width: 13%;
}

.mat-column-status {
    width: 10%;
}

.mat-row, .mat-header-row {
  text-align: center;
}

.mat-row {
  cursor: pointer;
  min-height: 43px;
}

.selected {
  background-color: #eee;
}

.job-container {
  margin-top: 20px;
}

.search-bar-group .title {
  flex: 4 5;
}

.items-container {
  flex-direction: row;
  flex-flow: wrap;
  border: 0;
  justify-content: space-between;
}

.items-container::after {
  content: "";
  flex: auto;
}

.item-container {
  padding: 0px 0px;
  margin: 5px 0px;
  border: 0 !important;
}

.slider {
  margin-bottom: 15px;
}

.mat-row-scroll {
  max-height: 200px;
}
