<div class="my-container">
  <h3 class="lead">Cronograma</h3>
</div>
<div class="col-md-12">
  <mat-card-title>
    <p class="lead">Vamos checar a disponibilidade?</p>
  </mat-card-title>
  <mat-card>
    <form [formGroup]="scheduleForm">
      <div class="row">
        <input formControlName="job" type="hidden">
        <mat-select class="col-md-3" placeholder="Atividade*" formControlName="job_activity" [compareWith]="compareJobActivity">
          <mat-option *ngFor="let job_activity of job_activities" [value]="job_activity">
            {{ job_activity.description }}
          </mat-option>
        </mat-select>
        <mat-select class="col-md-3" #responsible (click)="toggleResponsible()" placeholder="Responsável*" formControlName="responsible"
          [compareWith]="compareResponsible">
          <mat-option *ngFor="let responsible of responsibles" [value]="responsible">
            {{ responsible.name }}
          </mat-option>
        </mat-select>
        <mat-form-field class="col-md-3">
          <input type="date" [readonly]="true" formControlName="available_date" matInput placeholder="Data de início do projeto*">
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input type="date" formControlName="deadline" matInput placeholder="Deadline*">
        </mat-form-field>
        <cb-production-time class="col-md-12 production-time-input" label="Tempo estimado" [rate]="1" [input]="scheduleForm.controls.duration"
          [min]="0" [max]="10">
          <input formControlName="duration" type="hidden">
        </cb-production-time>
      </div>
      <p *ngIf="nextDateMessage != ''">
        <small>{{ nextDateMessage }}</small>
      </p>
      <p *ngIf="scheduleForm.controls.duration.value > 1">
        <small>Para agendamento de projetos com mais de 1 dia de duração, será necessário a agenda em datas subsequentes e atender pré-requisitos mínimos de budget checados no briefing.</small>
      </p>
      <div *ngIf="hasPreviousActivity" class="job-container">
        <p class="lead">Selecione o job</p>
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-id text-left">ID</div>
            <div class="mat-header-cell mat-column-client">Cliente</div>
            <div class="mat-header-cell mat-column-event">Evento</div>
            <div class="mat-header-cell mat-column-type">Tipo</div>
            <div class="mat-header-cell mat-column-attendance">Atendimento</div>
            <div class="mat-header-cell mat-column-creation">Criação</div>
            <div class="mat-header-cell mat-column-date">Data</div>
            <div class="mat-header-cell mat-column-status">Status</div>
          </div>
          <div class="mat-row" [class.selected]="job == scheduleForm.controls.job.value" *ngFor="let job of jobs" [@rowAppeared]="rowAppearedState" (click)="setJob(job)">
            <div class="mat-cell mat-column-id text-left">
              {{ jobService.showId(job) }}
            </div>
            <div class="mat-cell mat-column-client">
              {{ job.client ? job.client.fantasy_name : job.not_client }}
            </div>
            <div class="mat-cell mat-column-event">
              {{ job.event }}
            </div>
            <div class="mat-cell mat-column-type">
              {{ job.job_type.description }}
            </div>
            <div class="mat-cell mat-column-attendance">
              {{ job.attendance.name }}
            </div>
            <div class="mat-cell mat-column-creation">
              {{ job?.creation?.name }}
            </div>
            <div class="mat-cell mat-column-date">
              {{ job.created_at | date:'dd/MM/yy' }}
            </div>
            <div class="mat-cell mat-column-status">
              {{ job.status.description }}
            </div>
          </div>
        </table>
      </div>
      <mat-card-actions class="col-md-12 text-right">
        <button mat-button class="cb-button" (click)="go()">{{ buttonText }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
