<div class="my-container">
  <h3 class="lead">Cronograma</h3>
</div>
<div class="col-md-12">
  <mat-card-title>
    <div class="row search-bar-group">
      <div class="title">
          Vamos checar a disponibilidade?
      </div>
      <div class="buttons">
        <a mat-button>
          <mat-icon>search</mat-icon>
        </a>
        <a mat-button (click)="filter = filter ? false : true">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </a>
        <a [routerLink]="['/jobs/new']" mat-button>
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </div>
  </mat-card-title>
  <mat-card>
    <form [formGroup]="scheduleForm">
      <div class="row">
        <input formControlName="job" type="hidden">
        <input formControlName="id" type="hidden">
        <input *ngIf="!isAdmin" formControlName="admin" type="hidden">
        <mat-slide-toggle *ngIf="isAdmin" formControlName="admin"
        class="col-md-12 slider text-right" [checked]="adminMode">
          Forçar privilégios administrativos
        </mat-slide-toggle>
        <cb-production-time *ngIf="showExtraParams" class="col-md-9 production-time-input"
          label="Tempo estimado" [rate]="1" [input]="scheduleForm.controls.duration"
          [errorMessage]="durationErrorMessage" [min]="0" [max]="10">
          <input formControlName="duration" type="hidden">
        </cb-production-time>
        <mat-form-field class="col-md-3">
          <input currencyMask formControlName="budget_value" matInput placeholder="Verba estimada*">
          <mat-error>
            {{ budgetErrorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-select #jobActivity placeholder="Atividade*" formControlName="job_activity" [compareWith]="compareJobActivity" (selectionChange)="getAvailableDates()">
            <mat-option *ngFor="let job_activity of job_activities" [value]="job_activity" [disabled]="job_activity.master == 1 && ! isAdmin">
              {{ job_activity.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showExtraParams" class="col-md-3">
          <input readonly [matDatepicker]="availableDatepicker" formControlName="available_date"
            [min]="minDate"
            matInput placeholder="Data disponível para início*" (dateChange)="getAvailableDates()">
          <mat-datepicker-toggle matSuffix [for]="availableDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #availableDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input [min]="scheduleForm.controls.available_date.value" [matDatepicker]="deadlineDatepicker" formControlName="deadline"
            matInput placeholder="Deadline*">
          <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #deadlineDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-select placeholder="Responsável*" formControlName="responsible" [compareWith]="compareResponsible" (selectionChange)="filterItemsByResponsible()">
            <mat-option *ngFor="let responsible of responsibles" [value]="responsible" [disabled]="scheduleForm.controls.job_activity.value.description != 'Modificação' && ! isAdmin && responsible.name == 'Miguel Rodrigues'">
              {{ responsible.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p *ngIf="itemsByResponsible.length > 0 && !checkValidDuration()" class="text-center">
        <small>
          {{ sumDuration() }} de {{ scheduleForm.controls.duration.value }} data(s) selecionada(s)
        </small>
        <br>
      </p>
      <mat-button-toggle-group *ngIf="scheduleForm.controls.responsible.value != ''"
        class="items-container" #group="matButtonToggleGroup" multiple>
        <mat-button-toggle class="item-container"
          *ngFor="let item of itemsByResponsible; let i = index"
          [checked]="item?.selected == true"
          [matTooltip]="item.message"
          [disabled]="(item.status == 'false' || checkValidDuration() || hasSelectedItem(item)) && !adminMode"
          [value]="item.date" aria-label="Selecionar data"
          (click)="toggleDate(item, i)">
          <cb-schedule-date [item]="item"></cb-schedule-date>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div *ngIf="scheduleForm.controls.job_activity?.value?.initial === 0">
        <p>Selecionar a atividade anterior</p>
      </div>
      <mat-card-actions class="col-md-12 text-right">
        <button type="button" [disabled]="!buttonEnable" *ngIf="typeForm != 'edit'" mat-button
          class="cb-button" (click)="go()">{{ buttonText }}</button>
        <button type="button" [disabled]="!buttonEnable" *ngIf="typeForm == 'edit'" mat-button
          class="cb-button" (click)="edit()">EDITAR</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
