<div class="col-md-12">
  <form [formGroup]="briefingForm" novalidate autocomplete="off">
    <input type="hidden" formControlName="id">
    <mat-card-title class="row">
      <p class="col-md-6 lead">Dados do briefing</p>
      <p *ngIf="briefing" class="col-md-6 text-right">{{briefingService.showId(briefing)}}</p>
    </mat-card-title>
    <mat-card>
      <div class="row">
        <mat-select class="col-md-3" placeholder="Job*" formControlName="job" [compareWith]="compareJob">
          <mat-option *ngFor="let job of jobs" [value]="job">
            {{ job.description }}
          </mat-option>
        </mat-select>
        <mat-input-container class="col-md-3">
          <input matInput formControlName="exhibitor" [matAutocomplete]="autocompleteExhibitor" placeholder="Expositor*">
          <mat-error>
            Obrigatório
          </mat-error>
          <a [routerLink]="['/clients/new']" target="_blank" class="button-inner-mat-input" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </mat-input-container>
        <mat-autocomplete #autocompleteExhibitor="matAutocomplete" [displayWith]="displayExhibitor">
            <mat-option *ngFor="let exhibitor of exhibitors" [value]="exhibitor">
              {{ exhibitor.fantasy_name }}
            </mat-option>
        </mat-autocomplete>
        <mat-input-container class="col-md-3">
          <input formControlName="event" matInput placeholder="Evento*">
          <mat-error>
            Obrigatório, entre 3 e 150 caract.
          </mat-error>
        </mat-input-container>
        <mat-form-field class="col-md-3">
          <input type="date" formControlName="deadline" matInput placeholder="Deadline*">
          <!--
            input [matDatepicker]="deadlinePicker"
          <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
          <mat-datepicker #deadlinePicker></mat-datepicker>
          -->
        </mat-form-field>
        <mat-select class="col-md-3" placeholder="Tipo*" formControlName="job_type" [compareWith]="compareJobType">
          <mat-option *ngFor="let job_type of job_types" [value]="job_type">
            {{ job_type.description }}
          </mat-option>
        </mat-select>
        <mat-input-container class="col-md-3">
          <input matInput formControlName="agency" [matAutocomplete]="autocompleteAgency" placeholder="Agência*">
          <mat-error>
            Obrigatório
          </mat-error>
          <a [routerLink]="['/clients/new']" target="_blank" class="button-inner-mat-input" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </mat-input-container>
        <mat-autocomplete #autocompleteAgency="matAutocomplete" [displayWith]="displayAgency">
            <mat-option *ngFor="let agency of agencies" [value]="agency">
              {{ agency.fantasy_name }}
            </mat-option>
        </mat-autocomplete>
        <mat-select class="col-md-3" placeholder="Atendimento*" formControlName="attendance" [compareWith]="compareAttendance">
          <mat-option *ngFor="let attendance of attendances" [value]="attendance">
            {{ attendance.name }}
          </mat-option>
        </mat-select>
        <mat-select class="col-md-3" placeholder="Criação*" formControlName="creation" [compareWith]="compareCreation">
          <mat-option *ngFor="let creation of creations" [value]="creation">
            {{ creation.name }}
          </mat-option>
        </mat-select>
        <mat-input-container class="col-md-3">
          <input formControlName="area" matInput placeholder="Área (m²)*">
          <mat-error>
            Obrigatório, até 99999,99
          </mat-error>
        </mat-input-container>
        <mat-input-container class="col-md-3">
          <input formControlName="budget" matInput placeholder="Verba*">
          <mat-error>
            Obrigatório, até 99999999,99
          </mat-error>
        </mat-input-container>
        <mat-input-container class="col-md-3">
          <input formControlName="area_budget" matInput readonly placeholder="Valor/m²">
        </mat-input-container>
        <cb-stars class="col-md-3 star-input" label="Rate" [rate]="briefing != undefined ? (briefing.rate + 1) : 0" [input]="briefingForm.controls.rate">
            <input formControlName="rate" matInput>
        </cb-stars>
      </div>
    </mat-card>

    <div *ngIf="briefingForm.get('job_type').value.hasOwnProperty('description')  && briefingForm.get('job_type').value.description == 'Stand'">
      <cb-stand-form [briefingForm]="briefingForm" [briefing]="briefing"></cb-stand-form>
    </div>

    <mat-card-title>
      <p class="lead">Outras informações</p>
    </mat-card-title>
    <mat-card>
      <div class="row">
        <mat-select class="col-md-3" placeholder="Concorrência*" formControlName="competition" [compareWith]="compareCompetition">
          <mat-option *ngFor="let competition of competitions" [value]="competition">
            {{ competition.description }}
          </mat-option>
        </mat-select>

        <mat-input-container class="col-md-3" *ngIf="typeForm != 'show'">
          <input #latestMountsFile formControlName="latest_mounts_file" readonly matInput placeholder="Referências*" (click)="fileLatestMountsFile.click()">
          <input #fileLatestMountsFile type="file" accept="image/jpeg,application/pdf" (change)="uploadFile('latest_mounts_file', fileLatestMountsFile)" style="display:none;" />
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-input-container>
        <mat-input-container class="col-md-3" *ngIf="typeForm == 'show'" (click)="previewFile(briefing, 'briefing', 'latest_mounts_file')">
          <input formControlName="latest_mounts_file" matInput placeholder="Referências*">
        </mat-input-container>

        <mat-input-container class="col-md-3" *ngIf="typeForm != 'show'">
          <input #colorsFile formControlName="colors_file" readonly matInput placeholder="Cores e Materiais Sugeridos*" (click)="fileColorsFile.click()">
          <input #fileColorsFile type="file" accept="image/jpeg,application/pdf" (change)="uploadFile('colors_file', fileColorsFile)" style="display:none;" />
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-input-container>
        <mat-input-container class="col-md-3" *ngIf="typeForm == 'show'" (click)="previewFile(briefing, 'briefing', 'colors_file')">
          <input formControlName="colors_file" matInput placeholder="Cores e Materiais Sugeridos*">
        </mat-input-container>

        <mat-input-container class="col-md-3" *ngIf="typeForm != 'show'">
          <input #guideFile formControlName="guide_file" readonly matInput placeholder="Guide/Key Visual/Logos/Imagens/Produtos*" (click)="fileGuideFile.click()">
          <input #fileGuideFile type="file" accept="image/jpeg,application/pdf" (change)="uploadFile('guide_file', fileGuideFile)" style="display:none;" />
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-input-container>
        <mat-input-container class="col-md-3" *ngIf="typeForm == 'show'" (click)="previewFile(briefing, 'briefing', 'guide_file')">
          <input formControlName="guide_file" matInput placeholder="Guide/Key Visual/Logos/Imagens/Produtos*">
        </mat-input-container>

        <mat-select class="col-md-3" placeholder="Apresentação*" formControlName="presentation" [compareWith]="comparePresentation">
          <mat-option *ngFor="let presentation of presentations" [value]="presentation">
            {{ presentation.description }}
          </mat-option>
        </mat-select>
        <mat-select class="col-md-3" placeholder="Apresentação especial*" formControlName="special_presentation" [compareWith]="compareSpecialPresentation">
          <mat-option *ngFor="let special_presentation of special_presentations" [value]="special_presentation">
            {{ special_presentation.description }}
          </mat-option>
        </mat-select>
        <cb-stars class="col-md-3 star-input" label="Expectativa de aprovação" [rate]="briefing != undefined ? (briefing.approval_expectation_rate + 1) : 0" [input]="briefingForm.controls.approval_expectation_rate">
            <input formControlName="approval_expectation_rate" matInput>
        </cb-stars>
        <mat-input-container class="col-md-3">
          <input matInput formControlName="think_history" readonly placeholder="Histórico - Aprovação/Participação*">
          <mat-error>
            Obrigatório
          </mat-error>
        </mat-input-container>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-actions class="col-md-12 text-right">
        <button class="cb-button" *ngIf="typeForm === 'new'" color="primary" (click)="save()" mat-raised-button>
          SALVAR
        </button>
        <button class="cb-button" *ngIf="typeForm === 'edit'" color="primary" (click)="edit()" mat-raised-button>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
