<div class="col-md-12" id="searchForm">
  <form [formGroup]="searchForm" autocomplete="off">
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Lista
        </div>
        <mat-input-container class="bar">
          <input #search matInput formControlName="search" placeholder="Qual fornecedor você procura?" autocomplete="off">
        </mat-input-container>
        <div class="buttons">  
          <a mat-button (click)="search.focus()">
            <mat-icon>search</mat-icon>
          </a>
          <a mat-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
          <a [routerLink]="['/providers/new']" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <div *ngIf="providers?.length > 0">
        <table class="table mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell mat-column-name">Nome</div>
            <div class="mat-header-cell mat-column-employee">Atendimento</div>
            <div class="mat-header-cell mat-column-rate">Score</div>
            <div class="mat-header-cell mat-column-action">Ação</div>
          </div>
          <div class="mat-row" *ngFor="let provider of providers" [@rowAppeared]="rowAppearedState">
            <div class="mat-cell mat-column-name">
              {{ provider.fantasy_name }}
            </div>
            <div class="mat-cell mat-column-employee">
              {{ provider.employee.name }}
            </div>
            <div class="mat-cell mat-column-rate">
                <cb-stars [readonly]="true" [rate]="provider.rate"></cb-stars>
            </div>
            <div class="mat-cell mat-column-action">
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/providers/show', provider.id]" mat-menu-item>
                  <mat-icon>subject</mat-icon> Detalhes
                </a>
                <a [routerLink]="['/providers/edit', provider.id]" mat-menu-item>
                  <mat-icon>mode_edit</mat-icon> Editar
                </a>
                <button (click)="delete(provider)" mat-menu-item>
                  <mat-icon>delete</mat-icon> Remover
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
        </table>
      </div>
      <div *ngIf="searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Aguarde...
          </small>
        </p>
      </div>
      <div *ngIf="providers.length == 0 && searchForm.controls.search.value != '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Não encontramos resultados para sua busca. :(
          </small>
        </p>
      </div>
      <div *ngIf="providers.length == 0 && searchForm.controls.search.value == '' && !searching" class="col-md-12 records-not-found">
        <p>
          <small>
            Ainda não existe nenhum fornecedor cadastrado. Que tal <a [routerLink]="['/providers/new']">cadastrar</a> agora?
          </small>
        </p>
      </div>
    </mat-card>
    <mat-card-title>
      <div class="row search-bar-group">
        <div class="title">
          Relatório
        </div>
      </div>
    </mat-card-title>
    <mat-card>
      <table class="table mat-table report">
        <div class="mat-header-row">
          <div class="mat-header-cell col-md-2 text-center">Total</div>
          <div class="mat-header-cell col-md-2 text-right">Score +3/-3</div>
          <div class="mat-header-cell col-md-3 text-right">Última atualização</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell col-md-2 text-center">{{ total(providers) }}</div>
          <div class="mat-cell col-md-2 text-right">{{ score3Plus(providers) }}/{{ score3Minus(providers) }}</div>
          <div class="mat-cell col-md-3 text-right">{{ lastUpdate(providers)?.updated_at | date: 'dd/MM/yyyy' }}</div>
        </div>
      </table>
    </mat-card>
  </form>
</div>