<form [formGroup]="form" class="check-in-row">
    <div class="check-in-cell">
        {{ title || '-' }}
    </div>

    <div class="check-in-cell position-relative">
        <mat-select class="select-hidden" #employeeSelect formControlName="employee">
            <mat-option *ngFor="let employee of employees"
                [value]="employee.id">
                {{ employee.name }}
            </mat-option>
        </mat-select>
        
        <span class="w-100 text-ellipsis cursor-pointer" (click)="employeeSelect.open()">
            {{ getSelectedEmployeName(employee) || '-' }}
        </span>
    </div>

    <div class="check-in-cell">
        <input type="text" #comission class="input-comission"
            formControlName="comission"
            [readonly]="!employee2"
            (input)="validateComission()"
        />
        %
    </div>

    <div class="check-in-cell">
        <a class="icon-button" mat-button (click)="employee2Action()">
            <mat-icon>{{ employee2 || add ? 'close' : 'add' }}</mat-icon>
        </a>
    </div>

    <div *ngIf="add" class="check-in-cell">
        {{ title || '-' }} 02
    </div>

    <div *ngIf="add" class="check-in-cell position-relative">
        <mat-select class="select-hidden" #employee2Select formControlName="employee2" [disabled]="!employee">
            <mat-option *ngFor="let employee of employees"
                [value]="employee.id">
                {{ employee.name }}
            </mat-option>
        </mat-select>
        
        <span class="w-100 text-ellipsis cursor-pointer" (click)="employee2Select.open()">
            {{ getSelectedEmployeName(employee2) || '-' }}
        </span>
    </div>

    <div *ngIf="add" class="check-in-cell">
        <input type="text" #comission2 class="input-comission"
            formControlName="comission2"
            [readonly]="!employee2"
            (input)="validateComission2()"
        />
        %
    </div>
</form>