<mat-card class="w-100">

    <div class="row">

        <div class="w-100">

            <cb-check-in-approval
                [job]="job"
                [checkInModel]="checkInModel">
            </cb-check-in-approval>

            <cb-check-in-contact-info
                [job]="job"
                [checkInModel]="checkInModel">
            </cb-check-in-contact-info>

            <cb-check-in-billing
                [job]="job"
                [checkInModel]="checkInModel">
            </cb-check-in-billing>

            <cb-check-in-billing-amount>
            </cb-check-in-billing-amount>

            <cb-check-in-extras>
            </cb-check-in-extras>

        </div>

    </div>

</mat-card>
