<mat-card class="w-100"
    [class.check-in--block]="block">

    <div class="row">

        <div class="w-100">

            <cb-check-in-approval
                [job]="job"
                [employees]="employees"
                [checkInModel]="checkInModel">
            </cb-check-in-approval>

            <cb-check-in-contact-info #contactInfo
                [job]="job"
                [checkInModel]="checkInModel">
            </cb-check-in-contact-info>

            <cb-check-in-billing
                [job]="job"
                [employees]="employees"
                [checkInModel]="checkInModel">
            </cb-check-in-billing>

            <cb-check-in-billing-amount
                [job]="job"
                [checkInModel]="checkInModel"
                [valorTotalExtrasRecebido]="valorTotalExtrasRecebido">
            </cb-check-in-billing-amount>

            <div class="d-flex flex-row justify-content-end mt-4"
                [style.paddingLeft.px]="24"
                [style.paddingRight.px]="24">
                <button class="cb-button" color="primary" mat-raised-button
                    (click)="save()">
                    SALVAR
                </button>
            </div>
        </div>

    </div>

</mat-card>
