<div class="col-md-12">
  <form [formGroup]="itemCategoryForm" novalidate>
    <mat-card-title>
      <p class="lead">Dados da categoria de item</p>
    </mat-card-title>
    <mat-card>
      <div class="row">
          <mat-input-container class="col-md-6">
            <input formControlName="description" matInput placeholder="Descrição">
          </mat-input-container>
          <mat-input-container class="col-md-6">
            <input matInput formControlName="itemCategory" [matAutocomplete]="autocompleteItem" placeholder="Categoria de item">
          </mat-input-container>
          <mat-autocomplete #autocompleteItem="matAutocomplete" [displayWith]="displayItemCategory">
              <mat-option *ngFor="let itemCategory of itemCategories | async" [value]="itemCategory">
                {{ itemCategory.description }}
              </mat-option>
          </mat-autocomplete>
      </div>
      <mat-card-actions class="col-md-12">
        <button *ngIf="typeForm === 'new'" color="primary" [disabled]="!itemCategoryForm.valid" (click)="save(itemCategoryForm.value)" mat-raised-button>
          <mat-icon>add_circle_outline</mat-icon> SALVAR
        </button>
        <button *ngIf="typeForm === 'edit'" color="primary" [disabled]="!itemCategoryForm.valid" (click)="edit(itemCategoryForm.value, itemCategory.id)" mat-raised-button>
          <mat-icon>mode_edit</mat-icon> EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>