<div class="container-home">
  <div class="my-container">
    <h3 class="lead row">
      <div class="col-md-8">
        <div class="flex center">
          Home | Julio Cirelo 
          <button mat-button type="button" class="month-arrow">
            <mat-icon (click)="addMonth(-1)">keyboard_arrow_left</mat-icon>
          </button>
          &nbsp;Relatórios de
          <span class="actualMonth" (click)="monthSelect.open()">
            &nbsp;{{ month?.name }}
            <mat-select class="select-hidden col-md-3" #monthSelect>
              <mat-option *ngFor="let month of months" (click)="updateMonth(month)">{{month?.name}}</mat-option>
            </mat-select>
          </span>
          <span class="actualYear" (click)="yearSelect.open()">
            {{ year }}
            <mat-select class="select-hidden col-md-3" #yearSelect>
              <mat-option *ngFor="let year of years" (click)="updateYear(year)">{{year}}</mat-option>
            </mat-select>
          </span>
          <span>até</span>
          <span class="actualMonth" (click)="nextMonthSelect.open()">
            &nbsp;{{ nextMonth?.name }}
            <mat-select class="select-hidden col-md-3" #nextMonthSelect>
              <mat-option *ngFor="let month of months" (click)="updateNextMonth(month)">{{month?.name}}</mat-option>
            </mat-select>
          </span>
          <span class="actualYear" (click)="nextYearSelect.open()">
            {{ nextYear }}
            <mat-select class="select-hidden col-md-3" #nextYearSelect>
              <mat-option *ngFor="let year of years" (click)="updateNextYear(year)">{{year}}</mat-option>
            </mat-select>
          </span>
          <button mat-button type="button" class="month-arrow">
            <mat-icon (click)="addMonth(1)">keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </h3>
  </div>

    <div class="home-grid">
        <div class="home-card">
            <div class="home-card-header justify-content-between">
                <mat-icon>add</mat-icon>
                Alertas:
            </div>

            <div class="home-card-body">
                <span class="home-card-count">01</span>
            </div>
        </div>
        <div class="home-card">
          <div class="home-card-header justify-content-between">
              <mat-icon>add</mat-icon>
              Memórias:
          </div>

          <div class="home-card-body">
              <span class="home-card-count">01</span>
          </div>
      </div>
    </div>
</div>