<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Faturamento:</h6>
            
                <div class="check-in-header-right">
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="agency ? 'Agência: ' + agency.fantasy_name : 'Agência'"
                        (click)="$event.stopPropagation(); agencySelect.open()">
                        {{ agency ? agency.fantasy_name : 'Agência' }}

                        <mat-select class="select-hidden col-md-3" #agencySelect
                            [(ngModel)]="checkInModel.billing_client_id">
                            <mat-option *ngFor="let agency of agencies"
                                [value]="agency.id"
                                (click)="updateAgency(agency)">
                                {{ agency.fantasy_name }}
                            </mat-option>
                        </mat-select>
                    </span>

                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">

            <div class="check-in-grid-left">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        RAZÃO SOCIAL
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" name="agency-name" id="agency-name"
                            [(ngModel)]="agency.name">
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CNPJ
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" name="agency-cnpj" id="agency-cnpj" mask="99.999.999/9999-99"
                            [(ngModel)]="agency.cnpj">
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell" title="Inscrição estado">
                        INSCRIÇÃO EST.
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" name="agency-ie" id="agency-ie" mask="99.999.999/9999-99"
                            [(ngModel)]="agency.ie">
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CEP
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" name="agency-cep" id="agency-cep" mask="99999-999"
                            [(ngModel)]="agency.cep">
                    </div>

                    <div class="check-in-cell" [title]="'Bairro: ' + (agency ? agency.neighborhood : '-')">
                        <input *ngIf="agency" type="text" name="agency-neighborhood" id="agency-neighborhood" placeholder="Bairro"
                            [(ngModel)]="agency.neighborhood">
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" matInput [matAutocomplete]="autocompleteState" placeholder="Estado" autocomplete="off"
                            [formControl]="stateControl">

                        <mat-autocomplete #autocompleteState="matAutocomplete" [displayWith]="displayState">
                            <mat-option *ngFor="let state of states | async" [value]="state">
                              {{ state.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                    <div class="check-in-cell">
                        <input *ngIf="agency" type="text" matInput [matAutocomplete]="autocompleteCity" placeholder="Cidade" autocomplete="off"
                            [formControl]="cityControl">

                        <mat-autocomplete #autocompleteCity="matAutocomplete" [displayWith]="displayCity">
                            <mat-option *ngFor="let city of cities | async" [value]="city">
                              {{ city.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        ENDEREÇO
                    </div>

                    <div class="check-in-cell" [title]="(agency ? agency.street : '-')">
                        <input *ngIf="agency" type="text" name="agency-street" id="agency-street"
                            [(ngModel)]="agency.street">
                    </div>

                    <div class="check-in-cell" [title]="'Número: ' + (agency ? agency.number : '-')">
                        <input *ngIf="agency" type="text" name="agency-number" id="agency-number" placeholder="Número"
                            [(ngModel)]="agency.number">
                    </div>

                    <div class="check-in-cell" [title]="'Complemento: ' + (agency ? agency.complement : '-')">
                        <input *ngIf="agency" type="text" name="agency-complement" id="agency-complement" placeholder="Complemento"
                            [(ngModel)]="agency.complement">
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        RESPONSÁVEIS
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        COMISSÃO
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        RESPONSÁVEIS 02
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        COMISSÃO
                    </div>
                </div>

                <cb-check-in-comission
                    name="costumer_service"
                    id="costumer_service"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'ATENDIMENTO'"
                    [department]="4"
                    [context]="'costumer_service'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    name="creation"
                    id="creation"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'CRIAÇÃO'"
                    [department]="5"
                    [context]="'creation'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    name="production_manager"
                    id="production_manager"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'GERENTE PROD.'"
                    [department]="3"
                    [context]="'production_manager'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    name="budget"
                    id="budget"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'ORÇAMENTO'"
                    [department]="6"
                    [context]="'budget'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    name="detailing"
                    id="detailing"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'DETALHAMENTO'"
                    [department]="6"
                    [context]="'detailing'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    name="production"
                    id="production"
                    [checkInModel]="checkInModel"
                    [employees]="employees"
                    [title]="'PRODUÇÃO'"
                    [department]="3"
                    [context]="'production'">
                </cb-check-in-comission>
            </div>

        </div>

        <cb-check-in-obs [(ngModel)]="checkInModel.billing_obs" name="billing_obs" id="billing_obs"></cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>