<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Faturamento:</h6>
            
                <div class="check-in-header-right">
                    <span class="position-relative text-ellipsis cursor-pointer"
                        [title]="agency ? 'Agência: ' + agency.fantasy_name : 'Agência'"
                        (click)="$event.stopPropagation(); agencySelect.open()">
                        {{ agency ? agency.fantasy_name : 'Agência' }}

                        <mat-select class="select-hidden col-md-3" #agencySelect
                            [(ngModel)]="checkInModel.billing_client_id">
                            <mat-option *ngFor="let agency of agencies"
                                [value]="agency.id"
                                (click)="updateAgency(agency)">
                                {{ agency.fantasy_name }}
                            </mat-option>
                        </mat-select>
                    </span>

                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">

            <div class="check-in-grid-left">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        RAZÃO SOCIAL
                    </div>

                    <div class="check-in-cell">
                        {{ agency ? agency.name : '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CNPJ
                    </div>

                    <div class="check-in-cell">
                        {{ agency ? agency.cnpj : '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell" title="Inscrição estado">
                        INSCRIÇÃO EST.
                    </div>

                    <div class="check-in-cell">
                        {{ agency ? agency.ie : '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        CEP
                    </div>

                    <div class="check-in-cell">
                        {{ agency ? agency.cep : '-' }}
                    </div>

                    <div class="check-in-cell" [title]="'Bairro: ' + (agency ? agency.neighborhood : '-')">
                        {{ agency ? agency.neighborhood : '-' }}
                    </div>

                    <div class="check-in-cell" [title]="'Cidade: ' + (city.name || '-')">
                        {{ city.name || '-' }}
                    </div>

                    <div class="check-in-cell" [title]="'Estado: ' + (state.name || '-')">
                        {{ state.name || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        ENDEREÇO
                    </div>

                    <div class="check-in-cell" [title]="(agency ? agency.street : '-')">
                        <span class="text-ellipsis">
                            {{ (agency ? agency.street : '-') }}
                        </span>
                    </div>

                    <div class="check-in-cell" [title]="'Número: ' + (agency ? agency.number : '-')">
                        {{ (agency ? agency.number : '-') }}
                    </div>

                    <div class="check-in-cell" [title]="'Complemento: ' + (agency ? agency.complement : '-')">
                        {{ (agency ? agency.complement : '-') }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        RESPONSÁVEIS
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        COMISSÃO
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        RESPONSÁVEIS 02
                    </div>

                    <div class="check-in-cell"></div>

                    <div class="check-in-cell">
                        COMISSÃO
                    </div>
                </div>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'ATENDIMENTO'"
                    [context]="'costumer_service'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'CRIAÇÃO'"
                    [context]="'creation'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'GERENTE PROD.'"
                    [context]="'production_manager'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'ORÇAMENTO'"
                    [context]="'budget'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'DETALHAMENTO'"
                    [context]="'detailing'">
                </cb-check-in-comission>

                <cb-check-in-comission
                    [checkInModel]="checkInModel"
                    [persons]="persons"
                    [title]="'PRODUÇÃO'"
                    [context]="'production'">
                </cb-check-in-comission>
            </div>

        </div>

        <cb-check-in-obs [(ngModel)]="checkInModel.billing_obs" name="billing_obs" id="billing_obs"></cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>