@import url('../../check-in.component.css');

.check-in-cell {
    width: 100%;
    min-width: 980px;

    border: 1px solid #ccc;

    border-top: 0;
    border-bottom: 0;

    font-size: 10.5px;
    
    padding-left: 8px !important;
}

input {
    padding-left: 8px;

    font-size: 10.5px;
}

.border-bottom {
    border-bottom: 1px solid #ccc !important;
}
