<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-task="task" let-chrono="chrono">
    <div *ngIf="jobDisplay(task, chrono).indexOf('Continuação de') == -1">
      <a *ngIf="task.job.id == undefined" (click)="addTask(chrono.day)" mat-menu-item>
        <mat-icon>add</mat-icon> Adicionar
      </a>
      <a [disabled]="!permissionVerify('show', task.job)" *ngIf="task.job.id != undefined" [routerLink]="['/jobs/show', task.job.id]"
        mat-menu-item>
        <mat-icon>subject</mat-icon> Visualização
      </a>
      <a [disabled]="!permissionVerify('task.edit', task.job)" *ngIf="task.id != undefined" [routerLink]="['/schedule/edit', task.id]"
        mat-menu-item>
        <mat-icon>mode_edit</mat-icon> Editar tarefa
      </a>
      <a [disabled]="!permissionVerify('edit', task.job)" *ngIf="task.job.id != undefined" [routerLink]="['/jobs/edit', task.job.id]"
        mat-menu-item>
        <mat-icon>mode_edit</mat-icon> Editar job
      </a>
      <a [disabled]="!permissionVerify('edit', task.job)" *ngIf="task.job.id != undefined && (task.job.status?.id == 5 || task.job.status?.id == 1)"
        (click)="signal(task)" mat-menu-item>
        <span *ngIf="task.job.status?.id == 1">
          <mat-icon>flag</mat-icon> Sinalizar
        </span>
        <span *ngIf="task.job.status?.id == 5">
          <mat-icon>outlined_flag</mat-icon> Remover sinalização
        </span>
      </a>
      <button [disabled]="!permissionVerify('delete', task.job)" *ngIf="task.job.id != undefined" (click)="delete(task)" mat-menu-item>
        <mat-icon>delete</mat-icon> Remover
      </button>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #menu2="matMenu"></mat-menu>

<div class="line-job"
[matMenuTriggerFor]="jobDisplay(task, chrono).indexOf('Continuação de') > -1 ? menu2 : menu"
[matMenuTriggerData]="{task: task, chrono: chrono}"
[ngClass]="getLineClass(chrono, task, chrono.day, chrono.month)"
(dblclick)="goToJob(task.job)"
*ngFor="let task of chrono.tasks; let y = index"
draggable="true">
  <div class="mat-cell mat-column-creation">
    {{ task?.responsible?.name }}
  </div>
  <div class="mat-cell mat-column-job">
    {{ jobDisplay(task, chrono) }}
  </div>
  <div class="mat-cell mat-column-type">
    {{ task.job.job_type?.description }}
  </div>
  <div class="mat-cell mat-column-client">
    {{ task.job.client != null ? task.job.client.fantasy_name : task.job.not_client }}
  </div>
  <div class="mat-cell mat-column-agency">
    {{ task.job.agency ? task.job.agency.fantasy_name : '' }}
  </div>
  <div class="mat-cell mat-column-event">
    {{ task.job.event }}
  </div>
  <div class="mat-cell mat-column-event-date">
    &nbsp;
  </div>
  <div class="mat-cell mat-column-budget">
    {{ (canShowBudgetValue(task, chrono) ? task.job.budget_value : '') | number: '1.2' }}
  </div>
  <div class="mat-cell mat-column-area">
    &nbsp;
  </div>
  <div class="mat-cell mat-column-time">
    {{ timeDisplay(task, chrono) }}
  </div>
  <div class="mat-cell mat-column-deadline">
    {{ task.job?.deadline | date:'dd/MM' }}
  </div>
  <div class="mat-cell mat-column-attendance">
    {{ task.job?.attendance?.name }}
  </div>
  <div class="mat-cell mat-column-stat">
    {{ task.job?.status?.description }}
  </div>
</div>
