<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-task="task" let-chrono="chrono">
    <div *ngIf="jobDisplay(task, chrono).indexOf('Continuação de') == -1">
      <a *ngIf="task.job.id == undefined" (click)="addTask(chrono.day)" mat-menu-item>
        <mat-icon>add</mat-icon> Adicionar
      </a>
      <a [disabled]="!permissionVerify('show', task.job)" *ngIf="task.job.id != undefined" [routerLink]="['/jobs/show', task.job.id]"
        mat-menu-item>
        <mat-icon>subject</mat-icon> Visualização
      </a>
      <a [disabled]="!permissionVerify('task.edit', task.job)" *ngIf="task.id != undefined" [routerLink]="['/schedule/edit', task.id]"
        mat-menu-item>
        <mat-icon>mode_edit</mat-icon> Editar tarefa
      </a>
      <a [disabled]="!permissionVerify('edit', task.job)" *ngIf="task.job.id != undefined" [routerLink]="['/jobs/edit', task.job.id]"
        mat-menu-item>
        <mat-icon>mode_edit</mat-icon> Editar job
      </a>
      <a [disabled]="!permissionVerify('edit', task.job)" *ngIf="task.job.id != undefined && (task.job.status?.id == 5 || task.job.status?.id == 1)"
        (click)="signal(task)" mat-menu-item>
        <span *ngIf="task.job.status?.id == 1">
          <mat-icon>flag</mat-icon> Sinalizar
        </span>
        <span *ngIf="task.job.status?.id == 5">
          <mat-icon>outlined_flag</mat-icon> Remover sinalização
        </span>
      </a>
      <button [disabled]="!permissionVerify('delete', task.job)" *ngIf="task.job.id != undefined" (click)="delete(task)" mat-menu-item>
        <mat-icon>delete</mat-icon> Remover
      </button>
    </div>
  </ng-template>
</mat-menu>
<div class="line-job"
  [class.no-border]="['Projeto', 'Orçamento'].indexOf(chrono.tasks[y + 1]?.job_activity?.description) >= 0 && [5,3].indexOf(chrono.tasks[y + 1]?.job?.status_id) >= 0  && jobDisplay(task, chrono).indexOf('Continuação de') == -1"
  [class.hidden]="paramsHasFilter && task.job.id == null"
  [class.signal]="task.job?.status?.id == 5 && (['Projeto', 'Orçamento'].indexOf(task.job_activity.description) >= 0) && jobDisplay(task, chrono).indexOf('Continuação de') == -1"
  [class.approved-budget]="task.job?.status?.id == 3 && (['Orçamento'].indexOf(task.job_activity.description) >= 0) && jobDisplay(task, chrono).indexOf('Continuação de') == -1"
  [class.approved-creation]="task.job?.status?.id == 3 && (['Projeto'].indexOf(task.job_activity.description) >= 0) && jobDisplay(task, chrono).indexOf('Continuação de') == -1"
  [class.other-attendance]="task.job?.attendance_id != authService.currentUser().employee.id && task.responsible_id != authService.currentUser().employee.id && task.job.id != undefined && !permissionVerify('edit', task.job)"
  [ngClass]="getLineClass(task, chrono.day, chrono.month)" *ngFor="let task of chrono.tasks; let y = index" [matMenuTriggerFor]="menu"
  [matMenuTriggerData]="{task: task, chrono: chrono}" draggable="true">
  <div class="mat-cell mat-column-creation">
    {{ task?.responsible?.name }}
  </div>
  <div class="mat-cell mat-column-job">
    {{ jobDisplay(task, chrono) }}
  </div>
  <div class="mat-cell mat-column-type">
    {{ task.job.job_type?.description }}
  </div>
  <div class="mat-cell mat-column-client">
    {{ task.job.client != null ? task.job.client.fantasy_name : task.job.not_client }}
  </div>
  <div class="mat-cell mat-column-agency">
    {{ task.job.agency ? task.job.agency.fantasy_name : '' }}
  </div>
  <div class="mat-cell mat-column-event">
    {{ task.job.event }}
  </div>
  <div class="mat-cell mat-column-event-date">
    &nbsp;
  </div>
  <div class="mat-cell mat-column-budget">
    {{ (canShowBudgetValue(task, chrono) ? task.job.budget_value : '') | number: '1.2' }}
  </div>
  <div class="mat-cell mat-column-area">
    &nbsp;
  </div>
  <div class="mat-cell mat-column-time">
    {{ timeDisplay(task, chrono) }}
  </div>
  <div class="mat-cell mat-column-deadline">
    {{ task.job?.deadline | date:'dd/MM' }}
  </div>
  <div class="mat-cell mat-column-attendance">
    {{ task.job?.attendance?.name }}
  </div>
  <div class="mat-cell mat-column-stat">
    {{ task.job?.status?.description }}
  </div>
</div>
